samples/compute-api/10521-extensions-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-extensions-v2.1.wadl           -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/compute-api/src/v2.1/wadl/extensions-v2.1.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v2"
                name="UUID">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="anyURI">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="string">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                
                    <rax:resource rax:id="extension"/>
                
            
        </rax:resources>
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/compute/api/v2"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-extensions-v2.1">
        <!--*******************************************************-->
        <!--             All Resources                             -->
        <!--*******************************************************-->
        <resource id="extensions" path="/v2.1/{tenant_id}/extensions">
         <wadl:doc xmlns="http://docbook.org/ns/docbook"
                   xml:lang="EN"
                   title="Detail image list">
            <para>A list of supported extensions.</para>
        </wadl:doc>
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listExtensions">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List extensions">
               <para role="shortdesc">Lists available extensions.</para>
               <para>
                Extensions introduce features and vendor-specific
                functionality to the API without requiring a version change.
            </para>
               <para>
                The response shows the extension name and its alias. To show
                details for an extension, you specify the alias.
            </para>
            </wadl:doc>
            <response status="200">
               <param name="next"
                      style="plain"
                      type="xsd:anyURI"
                      path="/common:extensions/atom:link[@rel='next']/@href"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Moves to the next metadata
                        item.</para>
                  </wadl:doc>
                  <link resource_type="#ExtensionList" rel="next"/>
               </param>
               <param name="previous"
                      style="plain"
                      type="xsd:anyURI"
                      path="/common:extensions/atom:link[@rel='previous']/@href"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Moves to the previous metadata
                        item.</para>
                  </wadl:doc>
                  <link resource_type="#ExtensionList" rel="previous"/>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "extensions": [
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Multinic",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "NMN",
            "description": "Multiple network support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "DiskConfig",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-DCF",
            "description": "Disk Management Extension."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedAvailabilityZone",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-EXT-AZ",
            "description": "Extended Availability Zone support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ImageSize",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-EXT-IMG-SIZE",
            "description": "Adds image size to image listings."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedIps",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-EXT-IPS",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedIpsMac",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-EXT-IPS-MAC",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedServerAttributes",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-EXT-SRV-ATTR",
            "description": "Extended Server Attributes support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedStatus",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-EXT-STS",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorDisabled",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-FLV-DISABLED",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorExtraData",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-FLV-EXT-DATA",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "SchedulerHints",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-SCH-HNT",
            "description": "Pass arbitrary key/value pairs to the scheduler."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerUsage",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "OS-SRV-USG",
            "description": "Adds launched_at and terminated_at on Servers."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "AccessIPs",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-access-ips",
            "description": "Access IPs support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "AdminActions",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-admin-actions",
            "description": "Enable admin-only server actions\n\n    Actions include: resetNetwork, injectNetworkInfo, os-resetState\n    "
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "AdminPassword",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-admin-password",
            "description": "Admin password management support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Agents",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-agents",
            "description": "Agents support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Aggregates",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-aggregates",
            "description": "Admin-only aggregate administration."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "AssistedVolumeSnapshots",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-assisted-volume-snapshots",
            "description": "Assisted volume snapshots."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "AttachInterfaces",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-attach-interfaces",
            "description": "Attach interface support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "AvailabilityZone",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-availability-zone",
            "description": "1. Add availability_zone to the Create Server API.\n       2. Add availability zones describing.\n    "
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "BareMetalExtStatus",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-baremetal-ext-status",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "BareMetalNodes",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-baremetal-nodes",
            "description": "Admin-only bare-metal node administration."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "BlockDeviceMapping",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-block-device-mapping",
            "description": "Block device mapping boot support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "BlockDeviceMappingV2Boot",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-block-device-mapping-v2-boot",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "CellCapacities",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-cell-capacities",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Cells",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-cells",
            "description": "Enables cells-related functionality such as adding neighbor cells,\n    listing neighbor cells, and getting the capabilities of the local cell.\n    "
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Certificates",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-certificates",
            "description": "Certificates support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Cloudpipe",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-cloudpipe",
            "description": "Adds actions to create cloudpipe instances.\n\n    When running with the Vlan network mode, you need a mechanism to route\n    from the public Internet to your vlans.  This mechanism is known as a\n    cloudpipe.\n\n    At the time of creating this class, only OpenVPN is supported.  Support for\n    a SSH Bastion host is forthcoming.\n    "
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "CloudpipeUpdate",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-cloudpipe-update",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ConfigDrive",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-config-drive",
            "description": "Config Drive Extension."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ConsoleAuthTokens",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-console-auth-tokens",
            "description": "Console token authentication support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ConsoleOutput",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-console-output",
            "description": "Console log output support, with tailing ability."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Consoles",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-consoles",
            "description": "Interactive Console support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "CreateBackup",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-create-backup",
            "description": "Create a backup of a server."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Createserverext",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-create-server-ext",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "DeferredDelete",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-deferred-delete",
            "description": "Instance deferred delete."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Evacuate",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-evacuate",
            "description": "Enables server evacuation."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedEvacuateFindHost",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-evacuate-find-host",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedFloatingIps",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-floating-ips",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedHypervisors",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-hypervisors",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedNetworks",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-networks",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedQuotas",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-quotas",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedRescueWithImage",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-rescue-with-image",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedServices",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-services",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedServicesDelete",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-services-delete",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedStatus",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-status",
            "description": "Extended Status support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ExtendedVolumes",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-extended-volumes",
            "description": "Extended Volumes support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FixedIPs",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-fixed-ips",
            "description": "Fixed IPs support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorAccess",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-flavor-access",
            "description": "Flavor access support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorExtraSpecs",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-flavor-extra-specs",
            "description": "Flavors extra specs support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorManage",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-flavor-manage",
            "description": "Flavor create/delete API support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorRxtx",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-flavor-rxtx",
            "description": "Support to show the rxtx status of a flavor."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FlavorSwap",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-flavor-swap",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FloatingIpDns",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-floating-ip-dns",
            "description": "Floating IP DNS support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FloatingIpPools",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-floating-ip-pools",
            "description": "Floating IPs support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FloatingIps",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-floating-ips",
            "description": "Floating IPs support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "FloatingIpsBulk",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-floating-ips-bulk",
            "description": "Bulk handling of Floating IPs."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Fping",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-fping",
            "description": "Fping Management Extension."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "HideServerAddresses",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-hide-server-addresses",
            "description": "Support hiding server addresses in certain states."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Hosts",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-hosts",
            "description": "Admin-only host administration."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "HypervisorStatus",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-hypervisor-status",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Hypervisors",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-hypervisors",
            "description": "Admin-only hypervisor administration."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "InstanceActions",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-instance-actions",
            "description": "View a log of actions and events taken on an instance."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "OSInstanceUsageAuditLog",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-instance_usage_audit_log",
            "description": "Admin-only Task Log Monitoring."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Keypairs",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-keypairs",
            "description": "Keypair Support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "LockServer",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-lock-server",
            "description": "Enable lock/unlock server actions."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "MigrateServer",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-migrate-server",
            "description": "Enable migrate and live-migrate server actions."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Migrations",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-migrations",
            "description": "Provide data on migrations."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "MultipleCreate",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-multiple-create",
            "description": "Allow multiple create in the Create Server v2.1 API."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Networks",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-networks",
            "description": "Admin-only Network Management Extension."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "NetworkAssociationSupport",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-networks-associate",
            "description": "Network association support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "PauseServer",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-pause-server",
            "description": "Enable pause/unpause server actions."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Personality",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-personality",
            "description": "Personality support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "PreserveEphemeralOnRebuild",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-preserve-ephemeral-rebuild",
            "description": "Allow preservation of the ephemeral partition on rebuild."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "QuotaClasses",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-quota-class-sets",
            "description": "Quota classes management support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Quotas",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-quota-sets",
            "description": "Quotas management support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Rescue",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-rescue",
            "description": "Instance rescue mode."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "SecurityGroupDefaultRules",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-security-group-default-rules",
            "description": "Default rules for security group support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "SecurityGroups",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-security-groups",
            "description": "Security group support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerDiagnostics",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-diagnostics",
            "description": "Allow Admins to view server diagnostics through server action."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerExternalEvents",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-external-events",
            "description": "Server External Event Triggers."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerGroupQuotas",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-group-quotas",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerGroups",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-groups",
            "description": "Server group support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerListMultiStatus",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-list-multi-status",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerPassword",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-password",
            "description": "Server password support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerSortKeys",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-sort-keys",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "ServerStartStop",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-server-start-stop",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Services",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-services",
            "description": "Services support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Shelve",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-shelve",
            "description": "Instance shelve mode."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "SimpleTenantUsage",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-simple-tenant-usage",
            "description": "Simple tenant usage extension."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "SuspendServer",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-suspend-server",
            "description": "Enable suspend/resume server actions."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "OSTenantNetworks",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-tenant-networks",
            "description": "Tenant-based Network Management Extension."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "UsedLimits",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-used-limits",
            "description": "Provide data on limited resources that are being used."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "UsedLimitsForAdmin",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-used-limits-for-admin",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "UserData",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-user-data",
            "description": "Add user_data to the Create Server API."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "UserQuotas",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-user-quotas",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "VirtualInterfaces",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-virtual-interfaces",
            "description": "Virtual interface support."
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "VolumeAttachmentUpdate",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-volume-attachment-update",
            "description": ""
        },
        {
            "updated": "2014-12-03T00:00:00Z",
            "name": "Volumes",
            "links": [],
            "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
            "alias": "os-volumes",
            "description": "Volumes support."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="x-openstack-request-id"
                         style="header"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         A unique request ID that provides tracking for the request. Provider
         must configure middleware to return a request ID header in a
         response.
      </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
            <response status="203"/>
         </method>
      </resource>
      <resource id="extension" path="/v2.1/{tenant_id}/extensions/{alias}">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="alias" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
         An alias for the extension name.
         For example, <code>os-server-external-events</code>.
      </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showExtension">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show extension details">
               <para role="shortdesc">
                Shows details for an extension, by alias.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "extension": {
        "updated": "2014-12-03T00:00:00Z",
        "name": "ServerExternalEvents",
        "links": [],
        "namespace": "http://docs.openstack.org/compute/ext/fake_xml",
        "alias": "os-server-external-events",
        "description": "Server External Event Triggers."
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="x-openstack-request-id"
                         style="header"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         A unique request ID that provides tracking for the request. Provider
         must configure middleware to return a request ID header in a
         response.
      </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
            <response status="203"/>
         </method>
      </resource>
                        

                        
                    
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    
    

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Extensions -->
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listExtensions">
        
        <response status="200">
            <param name="next"
                style="plain"
                type="xsd:anyURI"
                path="/common:extensions/atom:link[@rel='next']/@href"
                rax:id="">
                
                
            </param>
            <param name="previous"
                style="plain"
                type="xsd:anyURI"
                path="/common:extensions/atom:link[@rel='previous']/@href"
                rax:id="">
                
                
            </param>
            <representation mediaType="application/json">
                 
            <param name="x-openstack-request-id"
                   style="header"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </response>
        <response status="203"/>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showExtension">
        
        <response status="200">
            <representation mediaType="application/json">
                 
            <param name="x-openstack-request-id"
                   style="header"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </response>
        <response status="203"/>
    </method>
</wadl:application>
