samples/compute-api/14107-jobs.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent jobs.wadl                       -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/jobs.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant.
    
  

                <rax:resource rax:id="jobs">
         <rax:resource rax:id="job_id">
            <rax:resource rax:id="execute"/>
         </rax:resource>
      </rax:resource>
            
        </rax:resources>
    <resources xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/compute/api/v2"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="jobs-v1.1">
        <resource id="jobs" path="/v1.1/{tenant_id}/jobs">
         <method name="GET" rax:id="listJobs">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List jobs">
               <para role="shortdesc">Lists all jobs.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "jobs": [
        {
            "is_public": false,
            "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
            "created_at": "2015-02-10 14:25:48",
            "id": "1a674c31-9aaa-4d07-b844-2bf200a1b836",
            "name": "Edp-test-job-3d60854e",
            "updated_at": null,
            "description": "",
            "interface": [],
            "libs": [
                {
                    "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                    "created_at": "2015-02-10 14:25:48",
                    "id": "0ff4ac10-94a4-4e25-9ac9-603afe27b100",
                    "name": "binary-job-339c2d1a.jar",
                    "updated_at": null,
                    "description": "",
                    "url": "swift://Edp-test-c71e6bce.sahara/binary-job-339c2d1a.jar"
                }
            ],
            "type": "MapReduce",
            "mains": [],
            "is_protected": false
        },
        {
            "is_public": false,
            "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
            "created_at": "2015-02-10 14:25:44",
            "id": "4d1f3759-3497-4927-8352-910bacf24e62",
            "name": "Edp-test-job-6b6953c8",
            "updated_at": null,
            "description": "",
            "interface": [],
            "libs": [
                {
                    "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                    "created_at": "2015-02-10 14:25:44",
                    "id": "e0d47800-4ac1-4d63-a2e1-c92d669a44e2",
                    "name": "binary-job-6f21a2f8.jar",
                    "updated_at": null,
                    "description": "",
                    "url": "swift://Edp-test-b409ec68.sahara/binary-job-6f21a2f8.jar"
                }
            ],
            "type": "Pig",
            "mains": [
                {
                    "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                    "created_at": "2015-02-10 14:25:44",
                    "id": "e073e896-f123-4b76-995f-901d786262df",
                    "name": "binary-job-d4f8bd75.pig",
                    "updated_at": null,
                    "description": "",
                    "url": "swift://Edp-test-b409ec68.sahara/binary-job-d4f8bd75.pig"
                }
            ],
            "is_protected": false
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="jobs"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the jobs.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The description of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="type"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The type of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="libs"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object properties.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="mains"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object and their
      properties.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createJob">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create job">
               <para role="shortdesc">Creates a job object.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "description": "This is pig job example",
    "mains": [
        "90d9d5ec-11aa-48bd-bc8c-34936ce0db6e"
    ],
    "libs": [
        "320a2ca7-25fd-4b48-9bc3-4fb1b6c4ff27"
    ],
    "type": "Pig",
    "name": "pig-job-example"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job": {
        "is_public": false,
        "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
        "created_at": "2015-03-27 08:48:38.630827",
        "id": "71defc8f-d005-484f-9d86-1aedf644d1ef",
        "name": "pig-job-example",
        "description": "This is pig job example",
        "interface": [],
        "libs": [
            {
                "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                "created_at": "2015-02-10 14:25:53",
                "id": "320a2ca7-25fd-4b48-9bc3-4fb1b6c4ff27",
                "name": "binary-job",
                "updated_at": null,
                "description": "",
                "url": "internal-db://c6a925fa-ac1d-4b2e-b88a-7054e1927521"
            }
        ],
        "type": "Pig",
        "is_protected": false,
        "mains": [
            {
                "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                "created_at": "2015-02-03 10:47:51",
                "id": "90d9d5ec-11aa-48bd-bc8c-34936ce0db6e",
                "name": "pig",
                "updated_at": null,
                "description": "",
                "url": "internal-db://872878f6-72ea-44db-8d1d-e6a6396d2df0"
            }
        ]
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The description of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="type"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The type of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="libs"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object properties.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="mains"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object and their
      properties.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="job_id" path="/v1.1/{tenant_id}/jobs/{job_id}">
         <param name="job_id" style="template" type="csapi:UUID" rax:id="">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID of the job.</para>
                            </wadl:doc>
                        </param>
         <method name="GET" rax:id="showJob">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show job details">
               <para role="shortdesc">Shows details for a job.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job": {
        "is_public": false,
        "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
        "created_at": "2015-02-10 14:25:48",
        "id": "1a674c31-9aaa-4d07-b844-2bf200a1b836",
        "name": "Edp-test-job",
        "updated_at": null,
        "description": "",
        "interface": [],
        "libs": [
            {
                "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                "created_at": "2015-02-10 14:25:48",
                "id": "0ff4ac10-94a4-4e25-9ac9-603afe27b100",
                "name": "binary-job.jar",
                "updated_at": null,
                "description": "",
                "url": "swift://Edp-test-c71e6bce.sahara/binary-job.jar"
            }
        ],
        "type": "MapReduce",
        "mains": [],
        "is_protected": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The description of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="type"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The type of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="libs"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object properties.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="mains"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object and their
      properties.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteJob">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove job">
               <para role="shortdesc">Removes a job.</para>
            </wadl:doc>
            <response status="204"/>
         </method>
         <method name="PATCH" rax:id="updateJob">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update job object">
               <para role="shortdesc">Updates a job object.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "description": "This is public pig job example",
    "name": "public-pig-job-example"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job": {
        "is_public": false,
        "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
        "created_at": "2015-02-10 14:25:48",
        "id": "1a674c31-9aaa-4d07-b844-2bf200a1b836",
        "name": "public-pig-job-example",
        "updated_at": null,
        "description": "This is public pig job example",
        "interface": [],
        "libs": [
            {
                "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
                "created_at": "2015-02-10 14:25:48",
                "id": "0ff4ac10-94a4-4e25-9ac9-603afe27b100",
                "name": "binary-job.jar",
                "updated_at": null,
                "description": "",
                "url": "swift://Edp-test-c71e6bce.sahara/binary-job.jar"
            }
        ],
        "type": "MapReduce",
        "mains": [],
        "is_protected": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The description of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="type"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The type of the job object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="libs"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object properties.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="mains"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of the job object and their
      properties.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                        
                        
                        <resource id="execute" path="/v1.1/{tenant_id}/jobs/{job_id}/execute">
         <param name="job_id" style="template" type="csapi:UUID" rax:id="">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID of the job.</para>
                            </wadl:doc>
                        </param>
         <method name="POST" rax:id="runJob">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Run job">
               <para role="shortdesc">Runs a job.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "cluster_id": "811e1134-666f-4c48-bc92-afb5b10c9d8c",
    "input_id": "3e1bc8e6-8c69-4749-8e52-90d9341d15bc",
    "output_id": "52146b52-6540-4aac-a024-fee253cf52a9",
    "job_configs": {
        "configs": {
            "mapred.map.tasks": "1",
            "mapred.reduce.tasks": "1"
        },
        "args": [
            "arg1",
            "arg2"
        ],
        "params": {
            "param2": "value2",
            "param1": "value1"
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job_execution": {
        "input_id": "3e1bc8e6-8c69-4749-8e52-90d9341d15bc",
        "is_protected": false,
        "job_id": "310b0fc6-e1db-408e-8798-312e7500f3ac",
        "cluster_id": "811e1134-666f-4c48-bc92-afb5b10c9d8c",
        "output_id": "52146b52-6540-4aac-a024-fee253cf52a9",
        "created_at": "2015-09-15T09:49:24",
        "is_public": false,
        "id": "20da9edb-12ce-4b45-a473-41baeefef997",
        "tenant_id": "808d5032ea0446889097723bfc8e919d",
        "job_configs": {
            "configs": {
                "mapred.reduce.tasks": "1",
                "mapred.map.tasks": "1"
            },
            "args": [
                "arg1",
                "arg2"
            ],
            "params": {
                "param2": "value2",
                "param1": "value1"
            }
        },
        "info": {
            "status": "PENDING"
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                            
                        
                    
                
    </resources>
    <!-- *******************************************************-->
    <!--      jobs            -->
    <!--*******************************************************-->
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listJobs">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="jobs"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="type"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="libs"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param name="mains"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showJob">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="type"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="libs"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param name="mains"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createJob">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
                
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="type"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="libs"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param name="mains"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteJob">
        
        <response status="204"/>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="runJob">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PATCH"
           id="updateJob">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
                
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="type"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="libs"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param name="mains"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
</wadl:application>
