samples/compute-api/148-subnet-pools.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 Hewlett-Packard Development Co., All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent subnet-pools.wadl               -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/networking-api/src/wadl/subnet-pools.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v1.1"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="itemNotFound">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            <rax:resource rax:id="SubnetPools">
         <rax:resource rax:id="subnetpool_id"/>
      </rax:resource>
        </rax:resources>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-subnetpools-v2">
        <resource id="SubnetPools" path="/v2.0/subnetpools">
         <method name="GET" rax:id="listSubnetPools">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List subnet pools">
               <para role="shortdesc">
                Lists subnet pools to which the tenant has access.
            </para>
               <para>
                Default policy settings returns exclusively subnet pools owned by
                the tenant submitting the request, unless the request is submitted
                by a user with administrative rights.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnetpools": [
        {
            "min_prefixlen": "64",
            "address_scope_id": null,
            "default_prefixlen": "64",
            "id": "03f761e6-eee0-43fc-a921-8acf64c14988",
            "max_prefixlen": "64",
            "name": "my-subnet-pool-ipv6",
            "default_quota": null,
            "is_default": false,
            "tenant_id": "9fadcee8aa7c40cdb2114fff7d569c08",
            "prefixes": [
                "2001:db8:0:2::/64",
                "2001:db8::/63"
            ],
            "ip_version": 6,
            "shared": false
        },
        {
            "min_prefixlen": "24",
            "address_scope_id": null,
            "default_prefixlen": "25",
            "id": "f49a1319-423a-4ee6-ba54-1d95a4f6cc68",
            "max_prefixlen": "30",
            "name": "my-subnet-pool-ipv4",
            "default_quota": null,
            "is_default": false,
            "tenant_id": "9fadcee8aa7c40cdb2114fff7d569c08",
            "prefixes": [
                "10.10.0.0/21",
                "192.168.0.0/16"
            ],
            "ip_version": 4,
            "shared": false
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="subnetpools"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>subnetpool</code> objects.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="min_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
      The smallest prefix that can be allocated from a subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="address_scope_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The address scope.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the prefix to allocate when the <code>cidr</code> or
      <code>prefixlen</code> attributes are omitted when you create
      the subnet.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="max_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum prefix size that can be allocated from the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The subnet pool name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_quota"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A per-tenant quota on the prefix space that can be allocated from the
      subnet pool for tenant subnets. For IPv4 subnet pools,
      <code>default_quota</code> is measured in units of /32. For IPv6 subnet
      pools, <code>default_quota</code> is measured units of /64. All tenants
      that use the subnet pool have the same prefix quota applied.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="prefixes"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of subnet prefixes that are assigned to the subnet pool. The API
      merges adjacent prefixes and treats them as a single prefix.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="ip_version"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The IP address family of the list of prefixes passed to the
      <code>prefixes</code> attribute.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this subnet pool is shared across all
      tenants.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createSubnetPool">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create subnet pool">
               <para role="shortdesc">
                Creates a subnet pool.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnetpool": {
        "name": "my-subnet-pool",
        "prefixes": [
            "192.168.0.0/16",
            "10.10.0.0/21"
        ],
        "default_prefixlen": 25,
        "min_prefixlen": 24,
        "max_prefixlen": 30,
        "shared": "false"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>subnetpool</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A name for the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="address_scope_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      An address scope to assign to the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="prefixes"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of subnet prefixes to assign to the subnet pool. The API
      merges adjacent prefixes and treats them as a single prefix.
    </para>
                        <para>
      Each subnet prefix must be unique among all subnet prefixes in all
      subnet pools that are associated with the address scope.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="default_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the prefix to allocate when the <code>cidr</code> or
      <code>prefixlen</code> attributes are omitted when you create
      the subnet. Default is <code>min_prefixlen</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="min_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
      The smallest prefix that can be allocated from a subnet pool. For IPv4
      subnet pools, default is <code>8</code>. For IPv6 subnet pools, default
      is <code>64</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="max_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum prefix size that can be allocated from the subnet pool.
      For IPv4 subnet pools, default is
      <code>32</code>. For IPv6 subnet pools, default is <code>128</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="default_quota"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A per-tenant quota on the prefix space that can be allocated from the
      subnet pool for tenant subnets. Default is no quota is enforced on
      allocations from the subnet pool. For IPv4 subnet pools,
      <code>default_quota</code> is measured in units of /32. For IPv6 subnet
      pools, <code>default_quota</code> is measured units of /64. All tenants
      that use the subnet pool have the same prefix quota applied.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the subnet pool. Only administrative
      users can specify a tenant UUID other than their own. You cannot
      change this value through authorization policies.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Admin-only. Indicates whether this subnet pool is shared across all
      tenants.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnetpool": {
        "min_prefixlen": "24",
        "address_scope_id": null,
        "default_prefixlen": "25",
        "id": "f49a1319-423a-4ee6-ba54-1d95a4f6cc68",
        "max_prefixlen": "30",
        "name": "my-subnet-pool",
        "default_quota": null,
        "is_default": false,
        "tenant_id": "9fadcee8aa7c40cdb2114fff7d569c08",
        "prefixes": [
            "10.10.0.0/21",
            "192.168.0.0/16"
        ],
        "ip_version": 4,
        "shared": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>subnetpool</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="min_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
      The smallest prefix that can be allocated from a subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="address_scope_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The address scope.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the prefix to allocate when the <code>cidr</code> or
      <code>prefixlen</code> attributes are omitted when you create
      the subnet.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="max_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum prefix size that can be allocated from the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The subnet pool name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_quota"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A per-tenant quota on the prefix space that can be allocated from the
      subnet pool for tenant subnets. For IPv4 subnet pools,
      <code>default_quota</code> is measured in units of /32. For IPv6 subnet
      pools, <code>default_quota</code> is measured units of /64. All tenants
      that use the subnet pool have the same prefix quota applied.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="prefixes"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of subnet prefixes that are assigned to the subnet pool. The API
      merges adjacent prefixes and treats them as a single prefix.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="ip_version"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The IP address family of the list of prefixes passed to the
      <code>prefixes</code> attribute.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this subnet pool is shared across all
      tenants.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/v2.0/subnetpools/{subnetpool_id}" id="subnetpool_id">
         <param name="subnetpool_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the subnet pool.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showSubnetPool">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show subnet pool">
               <para role="shortdesc">
                Shows information for a subnet pool.
            </para>
               <para>
                Use the <code>fields</code> query parameter to filter the results.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnetpool": {
        "min_prefixlen": "64",
        "address_scope_id": null,
        "default_prefixlen": "64",
        "id": "03f761e6-eee0-43fc-a921-8acf64c14988",
        "max_prefixlen": "64",
        "name": "my-subnet-pool",
        "default_quota": null,
        "is_default": false,
        "tenant_id": "9fadcee8aa7c40cdb2114fff7d569c08",
        "prefixes": [
            "2001:db8:0:2::/64",
            "2001:db8::/63"
        ],
        "ip_version": 6,
        "shared": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>subnetpool</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="min_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
      The smallest prefix that can be allocated from a subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="address_scope_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The address scope.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the prefix to allocate when the <code>cidr</code> or
      <code>prefixlen</code> attributes are omitted when you create
      the subnet.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="max_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum prefix size that can be allocated from the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The subnet pool name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_quota"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A per-tenant quota on the prefix space that can be allocated from the
      subnet pool for tenant subnets. For IPv4 subnet pools,
      <code>default_quota</code> is measured in units of /32. For IPv6 subnet
      pools, <code>default_quota</code> is measured units of /64. All tenants
      that use the subnet pool have the same prefix quota applied.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="prefixes"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of subnet prefixes that are assigned to the subnet pool. The API
      merges adjacent prefixes and treats them as a single prefix.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="ip_version"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The IP address family of the list of prefixes passed to the
      <code>prefixes</code> attribute.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this subnet pool is shared across all
      tenants.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" rax:id="updateSubnetPool">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update subnet pool">
               <para role="shortdesc">
                Updates a subnet pool.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnetpool": {
        "name": "my-new-subnetpool-name",
        "prefixes": [
            "2001:db8::/64",
            "2001:db8:0:1::/64",
            "2001:db8:0:2::/64"
        ],
        "min_prefixlen": 64,
        "default_prefixlen": 64,
        "max_prefixlen": 64
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>subnetpool</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A name for the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="address_scope_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      An address scope to assign to the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="prefixes"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of subnet prefixes to assign to the subnet pool. The API
      merges adjacent prefixes and treats them as a single prefix.
    </para>
                        <para>
      To update the subnet prefixes, pass a list that contains the existing
      set of prefixes and the new set of prefixes. You cannot shrink the
      prefix list of a subnet pool. You can only add prefixes to it to expand
      it.     
    </para>
                        <para>
      Ensure that each subnet prefix is unique among all subnet prefixes
      in all subnet pools that are associated with the address
      scope.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="default_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the prefix to allocate when the <code>cidr</code> or
      <code>prefixlen</code> attributes are omitted when you create
      the subnet. Default is <code>min_prefixlen</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="min_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
      The smallest prefix that can be allocated from a subnet pool. For IPv4
      subnet pools, default is <code>8</code>. For IPv6 subnet pools, default
      is <code>64</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="max_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum prefix size that can be allocated from the subnet pool. For
      IPv4 subnet pools, default is <code>32</code>. For IPv6 subnet pools,
      default is <code>128</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="default_quota"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A per-tenant quota on the prefix space that can be allocated from the
      subnet pool for tenant subnets. Default is no quota is enforced on
      allocations from the subnet pool. For IPv4 subnet pools,
      <code>default_quota</code> is measured in units of /32. For IPv6 subnet
      pools, <code>default_quota</code> is measured units of /64. All tenants
      that use the subnet pool have the same prefix quota applied.
    </para>
                        <para>
      Updating this parameter has no effect on existing subnet allocations.
      The existing subnet allocations for each tenant are counted against the
      updated prefix space quota.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the subnet pool. Only administrative
      users can specify a tenant UUID other than their own. You cannot
      change this value through authorization policies.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnetpool": {
        "name": "my-new-subnetpool-name",
        "default_quota": null,
        "is_default": false,
        "tenant_id": "9fadcee8aa7c40cdb2114fff7d569c08",
        "prefixes": [
            "2001:db8::/63",
            "2001:db8:0:2::/64"
        ],
        "min_prefixlen": 64,
        "address_scope_id": null,
        "ip_version": 6,
        "shared": false,
        "default_prefixlen": 64,
        "id": "03f761e6-eee0-43fc-a921-8acf64c14988",
        "max_prefixlen": 64
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>subnetpool</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="min_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
      The smallest prefix that can be allocated from a subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="address_scope_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The address scope.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the prefix to allocate when the <code>cidr</code> or
      <code>prefixlen</code> attributes are omitted when you create
      the subnet.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="max_prefixlen"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum prefix size that can be allocated from the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The subnet pool name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="default_quota"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A per-tenant quota on the prefix space that can be allocated from the
      subnet pool for tenant subnets. For IPv4 subnet pools,
      <code>default_quota</code> is measured in units of /32. For IPv6 subnet
      pools, <code>default_quota</code> is measured units of /64. All tenants
      that use the subnet pool have the same prefix quota applied.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the subnet pool.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="prefixes"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of subnet prefixes that are assigned to the subnet pool. The API
      merges adjacent prefixes and treats them as a single prefix.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="ip_version"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The IP address family of the list of prefixes passed to the
      <code>prefixes</code> attribute.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this subnet pool is shared across all
      tenants.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="removeSubnetPool">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete subnet pool">
               <para role="shortdesc">
                Deletes a subnet pool.
            </para>
               <para>
                The operation fails if any subnets allocated from the subnet
                pool are still in use.
            </para>
            </wadl:doc>
            <response status="204"/>
        
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    

                    
                    
                    
                
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listSubnetPools">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="subnetpools"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="min_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="address_scope_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="max_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_quota"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="prefixes"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="true"
                   name="ip_version"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createSubnetPool">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="false"
                   name="address_scope_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="prefixes"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="false"
                   name="default_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="min_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="max_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="default_quota"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="false"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="min_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="address_scope_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="max_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_quota"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="prefixes"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="true"
                   name="ip_version"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showSubnetPool">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="min_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="address_scope_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="max_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_quota"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="prefixes"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="true"
                   name="ip_version"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateSubnetPool">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="false"
                   name="address_scope_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="prefixes"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="false"
                   name="default_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="min_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="max_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="default_quota"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="false"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="min_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="address_scope_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="max_prefixlen"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="default_quota"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="prefixes"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="true"
                   name="ip_version"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="removeSubnetPool">
        
        <response status="204"/>
        
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
