samples/compute-api/16437-limits-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/volume-api/src/v2/wadl/limits-v2.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="limits-for-cinder-v2"/>
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://volume.example.com/"
              xml:id="os-limits-cinder-v2">
        <resource id="limits-for-cinder-v2" path="/v2/{tenant_id}/limits">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showAbsoluteLimits">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show absolute limits">
               <para role="shortdesc">
                Shows absolute limits for a tenant.
            </para>
               <para>
                An absolute limit value of <code>-1</code> indicates that the
                absolute limit for the item is infinite.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Show absolute limits: JSON response">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "limits": {
        "rate": [],
        "absolute": {
            "totalSnapshotsUsed": 0,
            "maxTotalBackups": 10,
            "maxTotalVolumeGigabytes": 1000,
            "maxTotalSnapshots": 10,
            "maxTotalBackupGigabytes": 1000,
            "totalBackupGigabytesUsed": 0,
            "maxTotalVolumes": 10,
            "totalVolumesUsed": 0,
            "totalBackupsUsed": 0,
            "totalGigabytesUsed": 0
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                

                  <param name="limits"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>limit</code> objects.
    </para>
                     </wadl:doc>
                  </param>

                  <param name="absolute"
                         style="plain"
                         required="true"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      An <code>absolute</code> limits object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="totalSnapshotsUsed"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The total number of snapshots used.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="maxTotalBackups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum number of backups.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="maxTotalVolumeGigabytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum total amount of volumes, in gibibytes (GiB).
    </para>
                     </wadl:doc>
                  </param>
                  <param name="maxTotalSnapshots"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum number of snapshots.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="maxTotalBackupGigabytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum total amount of backups, in gibibytes (GiB).
    </para>
                     </wadl:doc>
                  </param>
                  <param name="totalBackupGigabytesUsed"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The total number of backups gibibytes (GiB) used.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="maxTotalVolumes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum number of volumes.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="totalVolumesUsed"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The total number of volumes used.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="totalBackupsUsed"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The total number of backups used.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="totalGigabytesUsed"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The total number of gibibytes (GiB) used.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Show absolute limits: XML response">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;limits xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns="http://docs.openstack.org/common/api/v1.0"&gt;
    &lt;rates/&gt;
    &lt;absolute&gt;
        &lt;limit name="totalSnapshotsUsed" value="0"/&gt;
        &lt;limit name="maxTotalBackups" value="10"/&gt;
        &lt;limit name="maxTotalVolumeGigabytes" value="1000"/&gt;
        &lt;limit name="maxTotalSnapshots" value="10"/&gt;
        &lt;limit name="maxTotalBackupGigabytes" value="1000"/&gt;
        &lt;limit name="totalBackupGigabytesUsed" value="0"/&gt;
        &lt;limit name="maxTotalVolumes" value="10"/&gt;
        &lt;limit name="totalVolumesUsed" value="0"/&gt;
        &lt;limit name="totalBackupsUsed" value="0"/&gt;
        &lt;limit name="totalGigabytesUsed" value="0"/&gt;
    &lt;/absolute&gt;
&lt;/limits&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/>
         </method>
      </resource>
                    
                
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showAbsoluteLimits">
        
        <response status="200">
            <representation mediaType="application/json">
                
                

            <param name="limits"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>

            <param name="absolute"
                   style="plain"
                   required="true"
                   type="xsd:dict"
                   rax:id="">
  
</param>
            <param name="totalSnapshotsUsed"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="maxTotalBackups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="maxTotalVolumeGigabytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="maxTotalSnapshots"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="maxTotalBackupGigabytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="totalBackupGigabytesUsed"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="maxTotalVolumes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="totalVolumesUsed"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="totalBackupsUsed"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="totalGigabytesUsed"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response>
        <response status="203"/>
    </method>
</wadl:application>
