samples/compute-api/20985-consistencygroups-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/volume-api/src/v2/wadl/consistencygroups-v2.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="consistencygroups">
         <rax:resource rax:id="detail"/>
         <rax:resource rax:id="create_from_src"/>
         <rax:resource rax:id="consistencygroup_id">
            <rax:resource rax:id="delete"/>
            <rax:resource rax:id="update"/>
         </rax:resource>
      </rax:resource>
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:json="http://json-schema.org/schema#"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://volume.example.com/"
              xml:id="consistencygroups-v2">
        <resource id="consistencygroups" path="/v2/{tenant_id}/consistencygroups">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listConsistencyGroups">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List consistency groups">
               <para role="shortdesc">
                Lists consistency groups.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="sort_key"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Sorts by an image attribute. A valid value is <code>name</code>,
      <code>status</code>, <code>container_format</code>,
      <code>disk_format</code>, <code>size</code>, <code>id</code>,
      <code>created_at</code>, or <code>updated_at</code>. Default is
      <code>created_at</code>. The API uses the natural sorting direction of
      the <code>sort_key</code> attribute value.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="sort_dir"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Sorts by one or more sets of attribute and sort direction combinations.
      If you omit the sort direction in a set, default is <code>desc</code>.
   </para>
                     </wadl:doc>
                  </param>
                

                  <param name="limit"
                         style="query"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                     </wadl:doc>
                  </param>

                  <param name="marker"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroups": [
        {
            "id": "6f519a48-3183-46cf-a32f-41815f813986",
            "name": "my-cg1"
        },
        {
            "id": "aed36625-a6d7-4681-ba59-c7ba3d18c148",
            "name": "my-cg2"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group name.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createConsistencyGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create consistency group">
               <para role="shortdesc">
                Creates a consistency group.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroup": {
        "name": "firstcg",
        "description": "first consistency group",
        "volume_types": [
            "type1",
            "type2"
        ],
        "user_id": "6f519a48-3183-46cf-a32f-41815f814546",
        "project_id": "6f519a48-3183-46cf-a32f-41815f815555",
        "availability_zone": "az0",
        "status": "creating"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the consistency group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The description of the consistency group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="volume_types"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of volume types.
    </para>
                        <para>
      In an environment with multiple-storage back ends, the scheduler
      determines where to send the volume based on the volume type.
    </para>
                        <para>
      For information about how to use volume types to create multiple-storage
      back ends, see <link xlink:href="http://docs.openstack.org/admin-guide-cloud/blockstorage_multi_backend.html">Configure
      multiple-storage back ends</link>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="user_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the user.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="project_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the project.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the availability zone.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The status of the consistency group.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroup": {
        "id": "6f519a48-3183-46cf-a32f-41815f816666",
        "name": "firstcg"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="detail" path="/v2/{tenant_id}/consistencygroups/detail">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listConsistencyGroupsDetail">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List consistency groups with details">
               <para role="shortdesc">
                Lists consistency groups with details.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="sort_key"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Sorts by an image attribute. A valid value is <code>name</code>,
      <code>status</code>, <code>container_format</code>,
      <code>disk_format</code>, <code>size</code>, <code>id</code>,
      <code>created_at</code>, or <code>updated_at</code>. Default is
      <code>created_at</code>. The API uses the natural sorting direction of
      the <code>sort_key</code> attribute value.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="sort_dir"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Sorts by one or more sets of attribute and sort direction combinations.
      If you omit the sort direction in a set, default is <code>desc</code>.
   </para>
                     </wadl:doc>
                  </param>
                

                  <param name="limit"
                         style="query"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                     </wadl:doc>
                  </param>

                  <param name="marker"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroups": [
        {
            "id": "6f519a48-3183-46cf-a32f-41815f813986",
            "status": "available",
            "availability_zone": "az1",
            "created_at": "2015-09-16T09:28:52.000000",
            "name": "my-cg1",
            "description": "my first consistency group"
        },
        {
            "id": "aed36625-a6d7-4681-ba59-c7ba3d18c148",
            "status": "error",
            "availability_zone": "az2",
            "created_at": "2015-09-16T09:31:15.000000",
            "name": "my-cg2",
            "description": "Edited description"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group status. A valid value is <code>creating</code>,
      <code>available</code>, <code>error</code>, <code>deleting</code>,
      <code>updating</code>, or <code>invalid</code>.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The availability zone name.
    </para>
                     </wadl:doc>
                  </param>

                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when the resource was created.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group name.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group description.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        
                    
                    <resource id="create_from_src"
                path="/v2/{tenant_id}/consistencygroups/create_from_src">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="createConsistencyGroupFromSource">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create consistency group from source">
               <para role="shortdesc">
                Creates a consistency group from source.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroup-from-src": {
        "name": "firstcg",
        "description": "first consistency group",
        "cgsnapshot_id": "6f519a48-3183-46cf-a32f-41815f813986",
        "source_cgid": "6f519a48-3183-46cf-a32f-41815f814546",
        "user_id": "6f519a48-3183-46cf-a32f-41815f815555",
        "project_id": "6f519a48-3183-46cf-a32f-41815f814444",
        "status": "creating"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         The name of the consistency group.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         The description of the consistency group.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="cgsnapshot_id"
                         style="plain"
                         required="false"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The UUID of the consistency group snapshot.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="source_cgid"
                         style="plain"
                         required="false"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The UUID of the source consistency group.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="user_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The UUID of the user.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="project_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The UUID of the project.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         The status of the consistency group.
      </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroup": {
        "id": "6f519a48-3183-46cf-a32f-41815f816666",
        "name": "firstcg"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        
                    
                    <resource path="/v2/{tenant_id}/consistencygroups/{consistencygroup_id}"
                id="consistencygroup_id">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="consistencygroup_id"
                style="template"
                type="xsd:string"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>    
      The ID of the consistency group.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showConsistencyGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show consistency group details">
               <para role="shortdesc">
                Shows details for a consistency group.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroup": {
        "id": "6f519a48-3183-46cf-a32f-41815f813986",
        "status": "available",
        "availability_zone": "az1",
        "created_at": "2015-09-16T09:28:52.000000",
        "name": "my-cg1",
        "description": "my first consistency group"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group status. A valid value is <code>creating</code>,
      <code>available</code>, <code>error</code>, <code>deleting</code>,
      <code>updating</code>, or <code>invalid</code>.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The availability zone name.
    </para>
                     </wadl:doc>
                  </param>

                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when the resource was created.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group name.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group description.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        

                        
                        <resource path="/v2/{tenant_id}/consistencygroups/{consistencygroup_id}/delete"
                id="delete">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="consistencygroup_id"
                style="template"
                type="xsd:string"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>    
      The ID of the consistency group.
    </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="deleteConsistencyGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete consistency group">
               <para role="shortdesc">
                Deletes a consistency group.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "consistencygroup": {
        "force": "False"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="force"
                         style="plain"
                         required="false"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, forces deletion of a consistency group
      that has a registered volume.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
        </response>
         </method>
      </resource>
                            
                        
                        <resource path="/v2/{tenant_id}/consistencygroups/{consistencygroup_id}/update"
                id="update">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="consistencygroup_id"
                style="template"
                type="xsd:string"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>    
      The ID of the consistency group.
    </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="updateConsistencyGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update consistency group">
               <para role="shortdesc">
                Updates a consistency group.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">{
    "consistencygroup": {
        "name": "my_cg",
        "description": "My consistency group",
        "add_volumes": "volume-uuid-1,volume-uuid-2",
        "remove_volumes": "volume-uuid-8,volume-uuid-9"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="name"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The consistency group name.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The consistency group description.
      </para>
                     </wadl:doc>
                  </param>
                  <param name="add_volumes"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      One or more volume UUIDs, separated by commas, to add to the volume
      consistency group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="remove_volumes"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        One or more volume UUIDs, separated by commas, to remove from the
        volume consistency group.
      </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
        </response>
         </method>
      </resource>
                            
                        
                    
                
    </resources>
    <!-- consistencygroups -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listConsistencyGroups">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="sort_key"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">

</param>
            <param name="sort_dir"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">

</param>
                

            <param name="limit"
                   style="query"
                   required="false"
                   type="xsd:int"
                   rax:id="">
    
</param>

            <param name="marker"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listConsistencyGroupsDetail">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="sort_key"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">

</param>
            <param name="sort_dir"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">

</param>
                

            <param name="limit"
                   style="query"
                   required="false"
                   type="xsd:int"
                   rax:id="">
    
</param>

            <param name="marker"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="status"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="availability_zone"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>

            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
    
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createConsistencyGroup">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="volume_types"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param name="user_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="project_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="availability_zone"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="status"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createConsistencyGroupFromSource">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            <param name="description"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            <param name="cgsnapshot_id"
                   style="plain"
                   required="false"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="source_cgid"
                   style="plain"
                   required="false"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="user_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="project_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="status"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="deleteConsistencyGroup">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param name="force"
                   style="plain"
                   required="false"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="202">
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateConsistencyGroup">
        
        <request>
            <representation mediaType="application/xml">
                
                
            <param name="name"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="description"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            <param name="add_volumes"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="remove_volumes"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </request>
        <response status="202">
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showConsistencyGroup">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="status"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="availability_zone"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>

            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
    
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
</wadl:application>
