samples/compute-api/22365-job-binary-internals.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent job-binary-internals.wadl       -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/job-binary-internals.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant.
    
  

                <rax:resource rax:id="job-binary-internals">
         <rax:resource rax:id="job-binary-internals-name-create"/>
         <rax:resource rax:id="job-binary-internals-id">
            <rax:resource rax:id="job-binary-internals-id-data"/>
         </rax:resource>
      </rax:resource>
            
        </rax:resources>
    <resources xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v2"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="job-binary-internals-v1.1">
        <resource id="job-binary-internals" path="/v1.1/{tenant_id}/job-binary-internals">
         <method name="GET" rax:id="job-binary-internals-list">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List job binary internals">
               <para role="shortdesc">Lists the available job binary
                internals.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "binaries": [
        {
            "is_public": false,
            "name": "example.pig",
            "tenant_id": "11587919cc534bcbb1027a161c82cf58",
            "created_at": "2013-10-15 12:36:59.329034",
            "updated_at": null,
            "datasize": 161,
            "id": "d2498cbf-4589-484a-a814-81436c18beb3",
            "is_protected": false
        },
        {
            "is_public": false,
            "name": "udf.jar",
            "tenant_id": "11587919cc534bcbb1027a161c82cf58",
            "created_at": "2013-10-15 12:43:52.008620",
            "updated_at": null,
            "datasize": 3745,
            "id": "22f1d87a-23c8-483e-a0dd-cb4a16dde5f9",
            "is_protected": false
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="datasize"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the data stored in the internal database.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="binaries"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The list of job binary internal objects.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                    <resource id="job-binary-internals-name-create"
                path="/v1.1/{tenant_id}/job-binary-internals/{name}">
         <param name="name" style="template" type="xsd:string" rax:id="">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The name of the job binary
                                    internal.</para>
                            </wadl:doc>
                        </param>
         <method name="PUT" rax:id="job-binary-internals-create">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create job binary internal">
               <para role="shortdesc">Creates a job binary internal.</para>
               <para>
                Job binary internals are objects that represent data
                processing applications and libraries that are stored in the
                internal database.
            </para>
               <para>
                Specify the file contents (raw data or script text) in the
                request body. Specify the file name in the URI.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job_binary_internal": {
        "is_public": false,
        "name": "script.pig",
        "tenant_id": "11587919cc534bcbb1027a161c82cf58",
        "created_at": "2013-10-15 13:17:35.994466",
        "updated_at": null,
        "datasize": 160,
        "id": "4833dc4b-8682-4d5b-8a9f-2036b47a0996",
        "is_protected": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="datasize"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the data stored in the internal database.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                    
                    <resource id="job-binary-internals-id"
                path="/v1.1/{tenant_id}/job-binary-internals/{job_binary_internals_id}">
         <param name="job_binary_internals_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID of the job binary internal.</para>
                            </wadl:doc>
                        </param>
         <method name="GET" rax:id="job-binary-internals-show">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show job binary internal details">
               <para role="shortdesc">Shows details for a
              job binary internal.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job_binary_internal": {
        "is_public": false,
        "name": "script.pig",
        "tenant_id": "11587919cc534bcbb1027a161c82cf58",
        "created_at": "2013-10-15 13:17:35.994466",
        "updated_at": null,
        "datasize": 160,
        "id": "4833dc4b-8682-4d5b-8a9f-2036b47a0996",
        "is_protected": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="datasize"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The size of the data stored in the internal database.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is public.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="tenant_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="is_protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      If set to <code>true</code>, the object is protected.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was created.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The ID of the object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The date and time when the object was updated.
    </para>
                        <para>
      The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
    </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
      The <code>±hh:mm</code> value, if included, returns the time zone as an
      offset from UTC.
    </para>
                        <para>
      For example, <code>2015-08-27T09:49:58-05:00</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The name of the object.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="job-binary-internals-delete">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete job binary internal">
               <para role="shortdesc">Deletes a job binary
                internal.</para>
            </wadl:doc>
            <response status="204"/>
         </method>
         <method name="PATCH" rax:id="job-binary-internals-update">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update job binary internal">
               <para role="shortdesc">Updates a job binary internal.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Update job binary internal : JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "name": "public-jbi",
    "is_public": true
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "job_binary_internal": {
        "is_public": true,
        "name": "public-jbi",
        "tenant_id": "11587919cc534bcbb1027a161c82cf58",
        "created_at": "2015-09-15 13:21:54.485912",
        "updated_at": "2015-09-15 13:24:24.590124",
        "datasize": 200,
        "id": "2433dc4b-8682-4d5b-8a9f-2036d47a0996",
        "is_protected": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                        
                        
                        <resource id="job-binary-internals-id-data"
                path="/v1.1/{tenant_id}/job-binary-internals/{job_binary_internals_id}/data">
         <param name="job_binary_internals_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID of the job binary internal.</para>
                            </wadl:doc>
                        </param>
         <method name="GET" rax:id="job-binary-internals-data">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show job binary internal data">
               <para role="shortdesc">Shows data for a job
              binary internal.</para>
               <para>The response body shows the job binary raw data and
              the response headers show the data length.</para>
               <para>Example response:</para>
               <para>
                  <programlisting>HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 161
Content-Type: text/html; charset=utf-8
Date: Sat, 28 Mar 2016 02:21:13 GMT

A = load '$INPUT' using PigStorage(':') as (fruit: chararray);
B = foreach A generate com.hadoopbook.pig.Trim(fruit);
store B into '$OUTPUT' USING PigStorage(); </programlisting>
               </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <param name="Content-Length"
                         style="header"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The length of the data, in bytes.</para>
                    </wadl:doc>
                  </param>
                  <!-- the following element is present to suppress the output
                     about this method not returning a body -->
               </representation>
            </response>
         </method>
      </resource>
                          
                        
                    
                
    </resources>
    <!-- *******************************************************-->
    <!--             Job binary internals actions               -->
    <!-- *******************************************************-->
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="job-binary-internals-list">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="datasize"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
                
            <param name="binaries"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="job-binary-internals-create">
        
        <request>
            <representation mediaType="application/json"/>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
                
            <param name="datasize"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="job-binary-internals-show">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="datasize"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param name="is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="tenant_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="is_protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
  
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="job-binary-internals-delete">
        
        <response status="204"/>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="job-binary-internals-data">
        
        <response status="200">
            <representation mediaType="application/json">
                <param name="Content-Length"
                   style="header"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <!-- the following element is present to suppress the output
                     about this method not returning a body -->
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PATCH"
           id="job-binary-internals-update">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
</wadl:application>
