samples/compute-api/23425-images-v1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent images-v1.wadl                  -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/image-api/src/v1/wadl/images-v1.wadl">
   <rax:types>
      <rax:type prefix="" namespace="http://wadl.dev.java.net/2009/02" name="">
         <para/>
      </rax:type>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/image/api/v1.0"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="300"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="200"
                    prefix="imageapi"
                    namespace="http://docs.openstack.org/image/api/v1.0"
                    name="images">
         <para/>
      </rax:response>
      <rax:response status="200"
                    prefix="imageapi"
                    namespace="http://docs.openstack.org/image/api/v1.0"
                    name="image">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="imageapi"
                    namespace="http://docs.openstack.org/image/api/v1.0"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="202"
                    prefix="common"
                    namespace="http://docs.openstack.org/common/api/v1.0"
                    name="version">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
      <rax:resource rax:id="versions">
         <rax:resource rax:id="versionspath"/>
      </rax:resource>
            <rax:resource rax:id="Images">
         <rax:resource rax:id="image_id">
            <rax:resource rax:id="members">
               <rax:resource rax:id="owner-id"/>
            </rax:resource>
         </rax:resource>
      </rax:resource>
            
                <rax:resource rax:id="owner-2"/>
            
        </rax:resources>
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02"><!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/image-api/src/v2/xsd/api.xsd-->
      <wadl:include href="23425-images-v1-xsd-1.xsd"/>
      <!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/image-api/src/v2/xsd/api-common.xsd-->
      <wadl:include href="23425-images-v1-xsd-2.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
              xmlns:common="http://docs.openstack.org/common/api/v1.0"
              xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://glance.example.com/"
              xml:id="os-image-v1.0">
        <resource id="versions" path="/">
         <method name="GET" rax:id="listVersions-image-null-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List API versions">
               <para role="shortdesc">
                Lists information about all Image service API versions.
            </para>
            </wadl:doc>
            <response status="300">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "versions": [
        {
            "status": "EXPERIMENTAL",
            "id": "v3.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v3/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "CURRENT",
            "id": "v2.3",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.2",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
            
            <resource id="versionspath" path="/versions">
         <method name="GET" rax:id="listVersions-image-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List API versions">
               <para role="shortdesc">
                Shows details for the Image service API v1.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "versions": [
        {
            "status": "EXPERIMENTAL",
            "id": "v3.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v3/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "CURRENT",
            "id": "v2.3",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.2",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                
            
        
        <resource id="Images" path="/v1/images">
         <method name="GET" rax:id="listImages-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List images">
               <para role="shortdesc">Lists all public VM images.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                
                  <param name="name"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by an image name,
            in string format.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="container_format"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a container format. A valid value is
            <code>aki</code>, <code>ami</code>, <code>ari</code>,
            <code>bare</code>, <code>docker</code>, <code>ova</code>, or
            <code>ovf</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="disk_format"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a disk format. A valid value is
            <code>aki</code>, <code>ami</code>, <code>ari</code>,
            <code>iso</code>, <code>qcow2</code>, <code>raw</code>,
            <code>vhd</code>, <code>vdi</code>, or <code>vmdk</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a status. A
            valid value is <code>queued</code>,
            <code>saving</code>, <code>active</code>,
            <code>killed</code>, <code>deleted</code>, or
            <code>pending_delete</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_min"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a minimum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_max"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a maximum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="changes-since"
                         style="query"
                         required="false"
                         type="xsd:dateTime"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list to those images that
            have changed since a time stamp
            value.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:images"/>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "images": [
        {
            "uri": "http://glance.example.com/images/71c675ab-d94f-49cd-a114-e12490b328d9",
            "name": "Ubuntu 10.04 Plain",
            "disk_format": "vhd",
            "container_format": "ovf",
            "size": "5368709120"
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create image">
               <para role="shortdesc">
                Registers a virtual machine (VM) image.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Images name">
                        <para>
                            Name for the image. Note that the name of an image
                            is not unique to an Image service node. The API
                            cannot expect users to know the names of images
                            that other users own.
                        </para>
                    </wadl:doc>
                  </param>
                
                  <param name="disk_format"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Image disk format">
                        <para>The disk format of a VM image is the
            format of the underlying disk image.
            Virtual appliance vendors have different
            formats for laying out the information
            contained in a VM disk image.
        </para>
                        <para>
            You can set the disk format for your image to
            one of these values:
        </para>
                        <itemizedlist>
                           <listitem>
                              <para>
                                 <code>aki</code>
                              </para>
                              <para>An Amazon kernel image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>ami</code>
                              </para>
                              <para>An Amazon machine image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>ari</code>
                              </para>
                              <para>An Amazon ramdisk image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>iso</code>
                              </para>
                              <para>An archive format for the data
                   contents of an optical disc, such
                   as CDROM.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>qcow2</code>
                              </para>
                              <para>Supported by the QEMU emulator
                   that can expand dynamically and
                   supports Copy on Write.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>raw</code>
                              </para>
                              <para>Unstructured disk image
                   format.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>vhd</code>
                              </para>
                              <para>VHD disk format, a common disk
                   format used by VM monitors from
                   VMWare, Xen, Microsoft, VirtualBox,
                   and others.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>vdi</code>
                              </para>
                              <para>Supported by VirtualBox VM
                   monitor and the QEMU
                   emulator.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>vmdk</code>
                              </para>
                              <para>A common disk format that
                   supported by many VM
                   monitors.</para>
                           </listitem>
                        </itemizedlist>
                     </wadl:doc>
                  </param>
                
                  <param name="container_format"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Image container format">
                        <para>
            A container format defines the file format of the file that
            contains the image and metadata about the actual VM.
        </para>
                        <para>
            For a VM image with a <code>bare</code> container format, the
            image is a blob of unstructured data.
        </para>
                        <para>
            You can set the container format to one of these
            values:
        </para>
                        <itemizedlist>
                           <listitem>
                              <para>
                                 <code>aki</code>
                              </para>
                              <para>Amazon kernel image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>ami</code>
                              </para>
                              <para>Amazon machine image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>ari</code>
                              </para>
                              <para>Amazon ramdisk image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>bare</code>
                              </para>
                              <para>No container or metadata
                   envelope for the image.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>docker</code>
                              </para>
                              <para>
                    Docker tar archive of the container
                    filesystem.
                </para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>ova</code>
                              </para>
                              <para>OVA container format.</para>
                           </listitem>
                           <listitem>
                              <para>
                                 <code>ovf</code>
                              </para>
                              <para>OVF container format.</para>
                           </listitem>
                        </itemizedlist>
                     </wadl:doc>
                  </param>
                  <param name="createImage"
                         type="ImageForCreate"
                         path="/images"
                         rax:id=""/>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/xml" element="common:version">
                  <param name="location"
                         style="plain"
                         type="xsd:anyURI"
                         required="true"
                         path="/common:version/atom:link[@rel='self']/@href"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Image Location">
                        <para>A URI location for the image.</para>
                    </wadl:doc>
                    <link resource_type="#createImage" rel="self"/>
                  </param>
               </representation>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/v1/images/detail" id="detail">
         <method name="GET" rax:id="listImagesDetailed-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List images with details">
               <para role="shortdesc">Lists all available
                images with details.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                
                  <param name="name"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by an image name,
            in string format.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="container_format"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a container format. A valid value is
            <code>aki</code>, <code>ami</code>, <code>ari</code>,
            <code>bare</code>, <code>docker</code>, <code>ova</code>, or
            <code>ovf</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="disk_format"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a disk format. A valid value is
            <code>aki</code>, <code>ami</code>, <code>ari</code>,
            <code>iso</code>, <code>qcow2</code>, <code>raw</code>,
            <code>vhd</code>, <code>vdi</code>, or <code>vmdk</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a status. A
            valid value is <code>queued</code>,
            <code>saving</code>, <code>active</code>,
            <code>killed</code>, <code>deleted</code>, or
            <code>pending_delete</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_min"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a minimum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_max"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a maximum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="changes-since"
                         style="query"
                         required="false"
                         type="xsd:dateTime"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list to those images that
            have changed since a time stamp
            value.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:images">
                  <param name="next"
                         style="plain"
                         type="xsd:anyURI"
                         path="/imageapi:images/atom:link[@rel='next']/@href"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Next">
                        <para>Show the next item in the list.</para>
                    </wadl:doc>
                    <link resource_type="#DetailImageList" rel="next"/>
                  </param>
                  <param name="previous"
                         style="plain"
                         type="xsd:anyURI"
                         path="/imageapi:images/atom:link[@rel='previous']/@href"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Previous">
                        <para>Show the previous item in the
                            list.</para>
                    </wadl:doc>
                    <link resource_type="#DetailImageList" rel="previous"/>
                  </param>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "images": [
        {
            "uri": "http://glance.example.com/images/71c675ab-d94f-49cd-a114-e12490b328d9",
            "name": "Ubuntu 10.04 Plain 5GB",
            "disk_format": "vhd",
            "container_format": "ovf",
            "size": "5368709120",
            "checksum": "c2e5db72bd7fd153f53ede5da5a06de3",
            "created_at": "2010-02-03 09:34:01",
            "updated_at": "2010-02-03 09:34:01",
            "deleted_at": "",
            "status": "active",
            "is_public": true,
            "min_ram": 256,
            "min_disk": 5,
            "owner": null,
            "properties": {
                "distro": "Ubuntu 10.04 LTS"
            }
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1/images/{image_id}" id="image_id">
         <param name="image_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
               <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show image details and image binary">
               <para role="shortdesc">Shows the image details as headers
                and the image binary in the body of the
                response.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:image"/>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "images": [
        {
            "uri": "http://glance.example.com/images/71c675ab-d94f-49cd-a114-e12490b328d9",
            "name": "Ubuntu 10.04 Plain 5GB",
            "disk_format": "vhd",
            "container_format": "ovf",
            "size": "5368709120",
            "checksum": "c2e5db72bd7fd153f53ede5da5a06de3",
            "created_at": "2010-02-03 09:34:01",
            "updated_at": "2010-02-03 09:34:01",
            "deleted_at": "",
            "status": "active",
            "is_public": true,
            "min_ram": 256,
            "min_disk": 5,
            "owner": null,
            "properties": {
                "distro": "Ubuntu 10.04 LTS"
            }
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
        
            <response status="403">
               <representation mediaType="application/xml" element="imageapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" rax:id="updateImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update image">
               <para role="shortdesc">Updates an image, uploads an image
                file, or updates metadata for an image.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml" element="common:version">
                  <param name="location"
                         style="plain"
                         type="xsd:anyURI"
                         required="true"
                         path="/common:version/atom:link[@rel='self']/@href"
                         rax:id="">
                    <link resource_type="#createImage" rel="self"/>
                  </param>
               </representation>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete image">
               <para role="shortdesc">Deletes an image.</para>
            </wadl:doc>
            <response status="204"/>
         </method>
      </resource>
                    

                    
                    
                    
                    
                    <resource id="members" path="/v1/images/{image_id}/members">
         <param name="image_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
               <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="replaceMember-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Replace member">
               <para role="shortdesc">
                Replaces a membership list for an image.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <param name="memberships" style="plain" required="true" rax:id=""/>
                
                  <param name="can_share"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="can_share">
                        <para>
            Indicates whether the owner is
            authorized to share the image.
        </para>
                        <para>
            If the owner can share the image, this value is
            <code>true</code>. Otherwise, this value is
            <code>false</code>.
        </para>
                        <para>
            Specify the owner ID, which is the tenant ID, is
            in the request URI.
        </para>
                     </wadl:doc>
                  </param>
                  <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                     <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "members": [
        {
            "member_id": "tenant1",
            "can_share": false
        },
        {
            "member_id": "tenant2",
            "can_share": false
        }
    ]
}
</programlisting>
                  </xsdxt:code>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
                        
                        <resource path="/v1/images/{image_id}/members/{owner_id}" id="owner-id">
         <param name="image_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
               <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
            </wadl:doc>
         </param>
         <param name="owner_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Owner ID">
               <para>
        Owner ID, which is the tenant ID.
     </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="addMember-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Add members to image">
               <para role="shortdesc">
                Adds one or more members to an image.
            </para>
               <para>
                If you omit the request body, this call adds the membership to
                the image, leaves the existing memberships unmodified, and
                sets the <code>can_share</code> attribute to
                <code>false</code> for new memberships.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "members": [
        {
            "member_id": "tenant1",
            "can_share": false
        },
        {
            "member_id": "tenant2",
            "can_share": false
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="can_share"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="can_share">
                        <para>
            Indicates whether the owner is
            authorized to share the image.
        </para>
                        <para>
            If the owner can share the image, this value is
            <code>true</code>. Otherwise, this value is
            <code>false</code>.
        </para>
                        <para>
            Specify the owner ID, which is the tenant ID, is
            in the request URI.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
         <method name="DELETE" rax:id="removeMember-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Remove member">
               <para role="shortdesc">Removes a member from an
                image.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <param name="member_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The UUID of the member with which an image is
                            shared.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
                            

                            
                            
                        
                    
                <resource path="/v1/shared-images/{owner_id}" id="owner-2">
         <param name="owner_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Owner ID">
               <para>
        Owner ID, which is the tenant ID.
     </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listSharedImages-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List shared images">
               <para role="shortdesc">
                Lists the VM images that an owner shares. The owner ID is the
                tenant ID.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:images">
                
                  <param name="image_id" style="template" type="xsd:string" rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param name="can_share"
                         style="plain"
                         required="true"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="can_share">
                        <para>
            Indicates whether the owner is
            authorized to share the image.
        </para>
                        <para>
            If the owner can share the image, this value is
            <code>true</code>. Otherwise, this value is
            <code>false</code>.
        </para>
                        <para>
            Specify the owner ID, which is the tenant ID, is
            in the request URI.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
               <representation mediaType="application/json" element="imageapi:images">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "shared_images": [
        {
            "image_id": "71c675ab-d94f-49cd-a114-e12490b328d9",
            "can_share": false
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    

                    
                
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    
    
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listVersions-image-null-v1">
        
        <response status="300">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listVersions-image-v1">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createImage-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                
            <param name="disk_format"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
    
</param>
                
            <param name="container_format"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
    
</param>
                <param name="createImage"
                   type="ImageForCreate"
                   path="/images"
                   rax:id=""/>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml" element="common:version">
                <param name="location"
                   style="plain"
                   type="xsd:anyURI"
                   required="true"
                   path="/common:version/atom:link[@rel='self']/@href"
                   rax:id="">
                    
                    
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateImage-v1">
        
        <response status="200">
            <representation mediaType="application/xml" element="common:version">
                <param name="location"
                   style="plain"
                   type="xsd:anyURI"
                   required="true"
                   path="/common:version/atom:link[@rel='self']/@href"
                   rax:id="">
                    
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showImage-v1">
        
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:image"/>
            <representation mediaType="application/json">
                
            </representation>
        </response>
        
      <response status="403">
         <representation mediaType="application/xml" element="imageapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteImage-v1">
        
        <response status="204"/>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listSharedImages-v1">
        
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:images">
                
            <param name="image_id" style="template" type="xsd:string" rax:id="">
    
</param>
                
            <param name="can_share"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
            </representation>
            <representation mediaType="application/json" element="imageapi:images">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listImages-v1">
        
        <request>
            <representation mediaType="application/xml">
                
            <param name="name"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="container_format"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="disk_format"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="status"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="size_min"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">
    
</param>
            <param name="size_max"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">
    
</param>
            <param name="changes-since"
                   style="query"
                   required="false"
                   type="xsd:dateTime"
                   default="ALL"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:images"/>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listImagesDetailed-v1">
        
        <request>
            <representation mediaType="application/xml">
                
            <param name="name"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="container_format"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="disk_format"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="status"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            <param name="size_min"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">
    
</param>
            <param name="size_max"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">
    
</param>
            <param name="changes-since"
                   style="query"
                   required="false"
                   type="xsd:dateTime"
                   default="ALL"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:images">
                <param name="next"
                   style="plain"
                   type="xsd:anyURI"
                   path="/imageapi:images/atom:link[@rel='next']/@href"
                   rax:id="">
                    
                    
                </param>
                <param name="previous"
                   style="plain"
                   type="xsd:anyURI"
                   path="/imageapi:images/atom:link[@rel='previous']/@href"
                   rax:id="">
                    
                    
                </param>
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="addMember-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                
                
            <param name="can_share"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="replaceMember-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                <param name="memberships" style="plain" required="true" rax:id=""/>
                
            <param name="can_share"
                   style="plain"
                   required="true"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
                <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
               <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "members": [
        {
            "member_id": "tenant1",
            "can_share": false
        },
        {
            "member_id": "tenant2",
            "can_share": false
        }
    ]
}
</programlisting>
            </xsdxt:code>
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="removeMember-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                <param name="member_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="204"/>
    </method>
</wadl:application>
