samples/compute-api/23750-os-server-external-events-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/compute-api/src/v2.1/wadl/os-server-external-events-v2.1.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/identity/api/v3"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="os-server-external-events"/>
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-server-external-events-v2.1">
        <resource id="os-server-external-events"
                path="/v2.1/{tenant_id}/os-server-external-events">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="createEvents">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Run events">
               <para role="shortdesc">
                Creates one or more external events, which the API dispatches
                to the instance.
            </para>
               <para>
                You must assign this instance to a host. Otherwise, this call
                does not dispatch the event to the instance.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "events": [
        {
            "name": "test-event",
            "tag": "foo",
            "status": "completed",
            "server_uuid": "3df201cf-2451-44f2-8d25-a4ca826fc1f3"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="events"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List events">
                        <para>
                            The action.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="name">
                        <para>
                            The event name. A valid value is
                            <code>network-changed</code>, <code>network-vif-plugged</code>,
                            <code>network-vif-unplugged</code>, or
                            <code>network-vif-deleted</code>.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="tag"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="tag">
                        <para>
                            A string value that identifies the event.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="server_uuid"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="server_uuid">
                        <para>
                            The UUID of the server instance to which the API
                            dispatches the event.
                        </para>
                        <para>
                            You must assign this instance to a host.
                            Otherwise, this call does not dispatch the event
                            to the instance.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="status">
                        <para>
                            The event status. A valid value is
                            <code>failed</code>, <code>completed</code>, or
                            <code>in-progress</code>. Default is
                            <code>completed</code>.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "events": [
        {
            "code": 200,
            "name": "network-changed",
            "server_uuid": "ff1df7b2-6772-45fd-9326-c0a3b05591c2",
            "status": "completed",
            "tag": "foo"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="code"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="code">
                        <para>
                            The HTTP response code for the event.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                
    </resources>
    <!-- *******************************************************-->
    <!--     Server external events                            -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createEvents">
        
        <request>
            <representation mediaType="application/json">
                
                <param name="events"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="tag"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="server_uuid"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="status"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                <param name="code"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </response>
    </method>
</wadl:application>
