samples/compute-api/27945-OS-KSS3-admin.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2011-2016 OpenStack Foundation., All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent OS-KSS3-admin.wadl              -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSS3-admin.wadl">
   <rax:types>
      <rax:type prefix="capi"
                namespace="http://docs.openstack.org/common/api/v1.0"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="itemNotFound">
         <para/>
      </rax:response>
      <rax:response status="405"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="badMethod">
         <para/>
      </rax:response>
      <rax:response status="413"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="overLimit">
         <para/>
      </rax:response>
      <rax:response status="503"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="serviceUnavailable">
         <para/>
      </rax:response>
      <rax:response status="409"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="TenantConflictFault">
         <para/>
      </rax:response>
      <rax:response status="415"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="badMediaType">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            

    
        
            A valid authentication token for an administrative user.
        
    

            
                
                    

  
    
      The UUID of the user.
   
  

                    
                        <rax:resource rax:id="userCredentials">
         <rax:resource rax:id="userCredentialsByType">
            <rax:resource rax:id="type"/>
         </rax:resource>
      </rax:resource>
                    
                
            
        </rax:resources>
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02"><!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/xsd/api.xsd-->
      <wadl:include href="27945-OS-KSS3-admin-xsd-1.xsd"/>
      <!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/xsd/api-common.xsd-->
      <wadl:include href="27945-OS-KSS3-admin-xsd-2.xsd"/>
      <!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/xsd/OS-KSS3-credentials.xsd-->
      <wadl:include href="27945-OS-KSS3-admin-xsd-3.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
              xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="http://localhost:35357"
              xml:id="OS-KSS3-admin-v2.0">
        <resource id="userCredentials" path="/v2.0/users/{userId}/OS-KSS3/credentials">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
            A valid authentication token for an administrative user.
        </para>
            </wadl:doc>
         </param>
         <param name="user_id" style="template" type="capi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the user.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listCredentials">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List credentials">
               <para role="shortdesc">
                Lists credentials.
            </para>
            </wadl:doc>
            <request>
             

               <param name="limit"
                      style="query"
                      required="false"
                      type="xsd:int"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                  </wadl:doc>
               </param>

               <param name="marker"
                      style="query"
                      required="false"
                      type="xsd:string"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                  </wadl:doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="identity:credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "credentials": [
        {
            "passwordCredentials": {
                "username": "test_user",
                "password": "secretsecret"
            }
        },
        {
            "OS-KSS3:s3Credentials": {
                "username": "test_user",
                "secret": "secretsecret",
                "signature": "bbb"
            }
        }
    ],
    "credentials_links": []
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="grantCredentialToUser">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Grant credential to user">
               <para role="shortdesc">
                Grants a credential to a user.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                            
                            
                            <resource id="userCredentialsByType"
                path="/v2.0/users/{userId}/OS-KSS3/credentials/s3credentials">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
            A valid authentication token for an administrative user.
        </para>
            </wadl:doc>
         </param>
         <param name="user_id" style="template" type="capi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the user.
   </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="updateUserCredential">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update user credentials">
               <para role="shortdesc" class="shortdesc">
                Updates credentials.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="revokeUserCredentials">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Revoke user credentials">
               <para role="shortdesc" class="shortdesc">
                Revokes user credentials.
            </para>
            </wadl:doc>
            <response status="204"/>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                                
                                
                                
                                <resource id="type"
                path="/v2.0/users/{userId}/OS-KSS3/credentials/s3credentials/{type}">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
            A valid authentication token for an administrative user.
        </para>
            </wadl:doc>
         </param>
         <param name="user_id" style="template" type="capi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the user.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listCredentialsByType">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List credentials by type">
               <para role="shortdesc" class="shortdesc">
                Lists credentials by type.
            </para>
            </wadl:doc>
            <request>
             

               <param name="limit"
                      style="query"
                      required="false"
                      type="xsd:int"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                  </wadl:doc>
               </param>

               <param name="marker"
                      style="query"
                      required="false"
                      type="xsd:string"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                  </wadl:doc>
               </param>
               <param name="type"
                      style="query"
                      required="true"
                      type="xsd:string"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
                        The credential type.
                    </para>
                  </wadl:doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="identity:credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "credentials": [
        {
            "passwordCredentials": {
                "username": "test_user",
                "password": "secretsecret"
            }
        },
        {
            "OS-KSS3:s3Credentials": {
                "username": "test_user",
                "secret": "secretsecret",
                "signature": "bbb"
            }
        }
    ],
    "credentials_links": []
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/> 

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                                    
                                
                            
                        
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- user credentials-->
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="grantCredentialToUser">
        
        <request>
            <representation mediaType="application/json" element="s3credentials">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json" element="s3credentials">
                
            </representation>
        </response> 

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listCredentials">
        
        <request>
             

         <param name="limit"
                style="query"
                required="false"
                type="xsd:int"
                rax:id="">
    
</param>

         <param name="marker"
                style="query"
                required="false"
                type="xsd:string"
                rax:id="">
    
</param>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:credentials">
                
            </representation>
        </response>
        <response status="203"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listCredentialsByType">
        
        <request>
             

         <param name="limit"
                style="query"
                required="false"
                type="xsd:int"
                rax:id="">
    
</param>

         <param name="marker"
                style="query"
                required="false"
                type="xsd:string"
                rax:id="">
    
</param>
             <param name="type"
                style="query"
                required="true"
                type="xsd:string"
                rax:id="">
                
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:credentials">
                
            </representation>
        </response>
        <response status="203"/> 

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="updateUserCredential">
        
        <request>
            <representation mediaType="application/json" element="s3credentials">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="s3credentials">
                
            </representation>
        </response>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="revokeUserCredentials">
        
        <response status="204"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getUserCredential">
        
        <response status="200">
            <representation mediaType="application/json" element="s3credentials">
                
            </representation>
        </response>
        <response status="203"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
