samples/compute-api/2905-limits-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/compute-api/src/v2.1/wadl/limits-v2.1.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/identity/api/v3"
                name="UUID">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="string">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="limits"/>
            
        </rax:resources>
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-limits-v2.1">
        <resource id="limits" path="/v2.1/{tenant_id}/limits">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showlimits">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show rate and absolute limits">
               <para role="shortdesc">
                Shows rate and absolute limits for the tenant.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "limits": {
        "rate": [],
        "absolute": {
            "maxServerMeta": 128,
            "maxPersonality": 5,
            "totalServerGroupsUsed": 0,
            "maxImageMeta": 128,
            "maxPersonalitySize": 10240,
            "maxTotalKeypairs": 100,
            "maxSecurityGroupRules": 20,
            "maxServerGroups": 10,
            "totalCoresUsed": 1,
            "totalRAMUsed": 2048,
            "totalInstancesUsed": 1,
            "maxSecurityGroups": 10,
            "totalFloatingIpsUsed": 0,
            "maxTotalCores": 20,
            "maxServerGroupMembers": 10,
            "maxTotalFloatingIps": 10,
            "totalSecurityGroupsUsed": 1,
            "maxTotalInstances": 10,
            "maxTotalRAMSize": 51200
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="x-openstack-request-id"
                         style="header"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         A unique request ID that provides tracking for the request. Provider
         must configure middleware to return a request ID header in a
         response.
      </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                
    </resources>
    <!-- *******************************************************-->
    <!--             Limit                           -->
    <!--*******************************************************-->
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showlimits">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="x-openstack-request-id"
                   style="header"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </response>
    </method>
</wadl:application>
