samples/compute-api/29121-scheduler-stats-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/volume-api/src/v2/wadl/scheduler-stats-v2.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                
                    <rax:resource rax:id="get_pools"/>
                
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:json="http://json-schema.org/schema#"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://volume.example.com/"
              xml:id="scheduler-stats-v2">
        <resource id="get_pools" path="/v2/{tenant_id}/scheduler-stats/get_pools">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listPools">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List back-end storage pools">
               <para role="shortdesc">
                Lists all back-end storage pools.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <param name="detail"
                         style="query"
                         type="xsd:boolean"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Indicates whether to show pool details or only
                            pool names in the response.
                        </para>
                        <para>
                            Set to <code>True</code> to show pool details. Set
                            to <code>False</code> to show only pool names.
                            Default is <code>False</code>.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "pools": [
        {
            "name": "pool1",
            "capabilities": {
                "updated": "2014-10-28T00:00:00-00:00",
                "total_capacity": 1024,
                "free_capacity": 100,
                "volume_backend_name": "pool1",
                "reserved_percentage": 0,
                "driver_version": "1.0.0",
                "storage_protocol": "iSCSI",
                "QoS_support": "False"
            }
        },
        {
            "name": "pool2",
            "capabilities": {
                "updated": "2014-10-28T00:00:00-00:00",
                "total_capacity": 512,
                "free_capacity": 200,
                "volume_backend_name": "pool2",
                "reserved_percentage": 0,
                "driver_version": "1.0.1",
                "storage_protocol": "iSER",
                "QoS_support": "True"
            }
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the back-end volume.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="capabilities"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The capabilities for the back end.
                        </para>
                        <para>
                            The value is either <code>null</code> or a string
                            value that indicates the capabilities for each
                            pool. For example, <code>total_capacity</code> or
                            <code>QoS_support</code>.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="updated"
                         style="plain"
                         type="xsd:dateTime"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The date and time stamp when the API request was issued.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="total_capacity"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The total capacity for the back-end volume, in
                            GBs. A valid value is a string, such as
                            <code>unknown</code>, or an integer.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="free_capacity"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The amount of free capacity for the back-end
                            volume, in GBs. A valid value is a string, such as
                            <code>unknown</code>, or an integer.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="volume_backend_name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the back-end volume.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="reserved_percentage"
                         style="plain"
                         type="xsd:int"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The percentage of the total capacity that is
                            reserved for the internal use by the back end.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="driver_version"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The driver version.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="storage_protocol"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The storage back end for the back-end volume. For
                            example, <code>iSCSI</code> or <code>FC</code>.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="QoS_support"
                         style="plain"
                         type="xsd:boolean"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The quality of service (QoS) support.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        
                    
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listPools">
        
        <request>
            <representation mediaType="application/json">
                <param name="detail"
                   style="query"
                   type="xsd:boolean"
                   required="false"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="capabilities"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="updated"
                   style="plain"
                   type="xsd:dateTime"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="total_capacity"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="free_capacity"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="volume_backend_name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="reserved_percentage"
                   style="plain"
                   type="xsd:int"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="driver_version"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="storage_protocol"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="QoS_support"
                   style="plain"
                   type="xsd:boolean"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </response>
    </method>
</wadl:application>
