samples/compute-api/30577-firewalls.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent firewalls.wadl                  -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/networking-api/src/wadl/firewalls.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v1.1"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="itemNotFound">
         <para/>
      </rax:response>
      <rax:response status="409"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="conflict">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                <rax:resource rax:id="firewalls">
         <rax:resource rax:id="firewall_id"/>
      </rax:resource>
                <rax:resource rax:id="firewall_policies">
         <rax:resource rax:id="firewallpolicy_id">
            <rax:resource rax:id="insert_rule"/>
            <rax:resource rax:id="remove_rule"/>
         </rax:resource>
      </rax:resource>
                <rax:resource rax:id="firewall_rules">
         <rax:resource rax:id="firewall_rule_id"/>
      </rax:resource>
            
        </rax:resources>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="firewalls-v2.0">
        <resource id="firewalls" path="/v2.0/fw/firewalls">
         <method name="GET" rax:id="listFirewalls">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List firewalls">
               <para role="shortdesc">
                Lists all firewalls.
            </para>
               <para>
                The list might be empty.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewalls": [
        {
            "admin_state_up": true,
            "description": "",
            "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
            "id": "3b0ef8f4-82c7-44d4-a4fb-6177f9a21977",
            "name": "",
            "status": "ACTIVE",
            "router_ids": [
                "650bfd2f-7766-4a0d-839f-218f33e16998"
            ],
            "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="firewalls"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>firewall</code> objects.
    </para>
                     </wadl:doc>
                  </param>
                  <!-- &firewallResponseParameters; -->
               </representation>
            </response>
            <!-- &fault401; -->
            <!-- &fault403; -->
         </method>
         <method name="POST" rax:id="createFirewall">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create firewall">
               <para role="shortdesc">
                Creates a firewall.
            </para>
               <para>
                The firewall must be associated with a firewall policy.
            </para>
               <para>
                If <code>admin_state_up</code> is <code>false</code>,
                the firewall would block all traffic.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall": {
        "admin_state_up": true,
        "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallObject; -->
                  <!-- &firewallRequestParameters; -->
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall": {
        "admin_state_up": true,
        "description": "",
        "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "id": "3b0ef8f4-82c7-44d4-a4fb-6177f9a21977",
        "name": "",
        "status": "PENDING_CREATE",
        "router_ids": [
            "650bfd2f-7766-4a0d-839f-218f33e16998"
        ],
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallObject; -->
                  <!-- &firewallResponseParameters; -->
               </representation>
            </response>
            <!-- &fault400; -->
            <!-- &fault401; -->
         </method>
      </resource>
                    
                    
                    <resource path="/v2.0/fw/firewalls/{firewall_id}" id="firewall_id">
         <param name="firewall_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the firewall.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showFirewall">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show firewall details">
               <para role="shortdesc">
                Shows details for a firewall.
            </para>
               <para>
                If the user is not an administrative user and the firewall
                object does not belong to the tenant account, this call
                returns the <code>Forbidden (403)</code> response code.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall": {
        "admin_state_up": true,
        "description": "",
        "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "id": "3b0ef8f4-82c7-44d4-a4fb-6177f9a21977",
        "name": "",
        "status": "ACTIVE",
        "router_ids": [
            "650bfd2f-7766-4a0d-839f-218f33e16998"
        ],
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallObject; -->
                  <!-- &firewallResponseParameters; -->
               </representation>
            </response>
            <!-- &fault401; -->
            <!-- &fault403; -->
            <!-- &fault404; -->
         </method>
         <method name="PUT" rax:id="updateFirewall">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update firewall">
               <para role="shortdesc">
                Updates a firewall.
            </para>
               <para>
                To update a service, the service status cannot be a
                <code>PENDING_*</code> status.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall": {
        "admin_state_up": "false"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallObject; -->
                  <!-- &firewallUpdateParameters; -->
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall": {
        "admin_state_up": false,
        "description": "",
        "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "id": "3b0ef8f4-82c7-44d4-a4fb-6177f9a21977",
        "name": "",
        "status": "PENDING_UPDATE",
        "router_ids": [
            "650bfd2f-7766-4a0d-839f-218f33e16998"
        ],
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallObject; -->
                  <!-- &firewallResponseParameters; -->
               </representation>
            </response>
            <!-- &fault400; -->
            <!-- &fault401; -->
            <!-- &fault404; -->
         </method>
         <method name="DELETE" rax:id="deleteFirewall">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete firewall">
               <para role="shortdesc">
                Deletes a firewall.
            </para>
            </wadl:doc>
            <response status="204"/>
            <!-- &fault401; -->
            <!-- &fault404; -->
            <!-- &fault409conflict; -->
         </method>
      </resource>
                        

                        
                        
                        
                    
                <resource id="firewall_policies" path="/v2.0/fw/firewall_policies">
         <method name="GET" rax:id="listFirewallPolicies">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List firewall policies">
               <para role="shortdesc">
                Lists all firewall policies.
            </para>
               <para>
                The list might be empty.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_policies": [
        {
            "audited": false,
            "description": "",
            "firewall_rules": [
                "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
            ],
            "id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
            "name": "test-policy",
            "shared": false,
            "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewall-policiesObjectParameter; -->
                  <!-- &firewallPolicyResponseParameters; -->
               </representation>
            </response>
            <!-- &fault401; -->
            <!-- &fault403; -->
         </method>
         <method name="POST" rax:id="createFirewallPolicy">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create firewall policy">
               <para role="shortdesc">
                Creates a firewall policy.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_policy": {
        "firewall_rules": [
            "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
        ],
        "name": "test-policy"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewall-policyObjectParameter; -->
                  <!-- &firewallPolicyRequestParameters; -->
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_policy": {
        "audited": false,
        "description": "",
        "firewall_rules": [
            "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
        ],
        "id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "name": "test-policy",
        "shared": false,
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewall-policyObjectParameter; -->
                  <!-- &firewallPolicyResponseParameters; -->
               </representation>
            </response>
            <!-- &fault400; -->
            <!-- &fault401; -->
         </method>
      </resource>
                    
                    
                    <resource path="/v2.0/fw/firewall_policies/{firewall_policy_id}"
                id="firewallpolicy_id">
         <param name="firewall_policy_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Firewall policy UUID">
               <para>
      The UUID of the firewall policy.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showFirewallPolicy">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show firewall policy details">
               <para role="shortdesc">
                Shows details for a firewall policy.
            </para>
               <para>
                If the user is not an administrative user and the firewall policy
                object does not belong to the tenant account, this call
                returns the <code>Forbidden (403)</code> response code.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_policy": {
        "audited": false,
        "description": "",
        "firewall_rules": [
            "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
        ],
        "id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "name": "test-policy",
        "shared": false,
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewall-policyObjectParameter; -->
                  <!-- &firewallPolicyResponseParameters; -->
               </representation>
            </response>
            <!-- &fault401; -->
            <!-- &fault403; -->
            <!-- &fault404; -->
         </method>
         <method name="PUT" rax:id="updateFirewallPolicy">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update firewall policy">
               <para role="shortdesc">
                Updates a firewall policy.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_policy": {
        "firewall_rules": [
            "a08ef905-0ff6-4784-8374-175fffe7dade",
            "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
        ]
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewall-policyObjectParameter; -->
                  <!-- &firewallPolicyRequestParameters; -->
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_policy": {
        "audited": false,
        "description": "",
        "firewall_rules": [
            "a08ef905-0ff6-4784-8374-175fffe7dade",
            "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
        ],
        "id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "name": "test-policy",
        "shared": false,
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewall-policyObjectParameter; -->
                  <!-- &firewallPolicyResponseParameters; -->
               </representation>
            </response>
            <!-- &fault400; -->
            <!-- &fault401; -->
            <!-- &fault404; -->
         </method>
         <method name="DELETE" rax:id="deleteFirewallPolicy">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete firewall policy">
               <para role="shortdesc">
                Deletes a firewall policy.
            </para>
            </wadl:doc>
            <response status="204"/>
            <!-- &fault401; -->
            <!-- &fault404; -->
            <!-- &fault409conflict; -->
         </method>
      </resource>
                        

                        
                        
                        
                        <resource path="/v2.0/fw/firewall_policies/{firewall_policy_id}/insert_rule"
                id="insert_rule">
         <param name="firewall_policy_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Firewall policy UUID">
               <para>
      The UUID of the firewall policy.
    </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="insert_ruleFirewallPolicy">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Insert rule into a firewall policy">
               <para role="shortdesc">
              Insert firewall rule into a policy.
            </para>
               <para>
              A firewall_rule_id is inserted relative to the position of the
              firewall_rule_id set in <code>insert_before</code> or
              <code>insert_after</code>. If <code>insert_before</code> is set,
              <code>insert_after</code> is ignored. If both
              <code>insert_before</code> and <code>insert_after</code> are not
              set, the new firewall_rule_id is inserted at the top of the
              policy.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule_id": "7bc34b8c-8d3b-4ada-a9c8-1f4c11c65692",
    "insert_after": "a08ef905-0ff6-4784-8374-175fffe7dade",
    "insert_before": ""
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="firewall_rule_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID of the firewall rule.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="insert_before"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID of the firewall_rule. A new firewall_rule
            will be inserted before this firewall_rule.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="insert_after"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID of the firewall_rule. A new firewall_rule
            will be inserted after this firewall_rule.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "audited": false,
    "description": "",
    "firewall_list": [],
    "firewall_rules": [
        "a08ef905-0ff6-4784-8374-175fffe7dade",
        "7bc34b8c-8d3b-4ada-a9c8-1f4c11c65692",
        "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
    ],
    "id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
    "name": "test-policy",
    "shared": false,
    "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="audited"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Indicates whether the policy has been audited.
        </para>
                        <para>
            Each time that the firewall policy or its associated rules are
            changed, the API sets this attribute to <code>False</code>. To
            audit the policy, the policy owner must explicitly update the
            policy to set this attribute to <code>True</code>.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="description"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The human-readable description for the firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="firewall_list"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            A list of the UUIDs for firewall associated with the
            firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="firewall_rules"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            A list of the UUIDs for firewall rule associated with the
            firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID for the firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
          Human-readable name for the firewall policy.
          Does not have to be unique.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Indicates whether the firewall policy is shared across all tenants.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID of the tenant who owns the firewall policy.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
        
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                            
                        
                        <resource path="/v2.0/fw/firewall_policies/{firewall_policy_id}/remove_rule"
                id="remove_rule">
         <param name="firewall_policy_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Firewall policy UUID">
               <para>
      The UUID of the firewall policy.
    </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="remove_ruleFirewallPolicy">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Remove rule from firewall policy">
               <para role="shortdesc">
                Remove firewall rule from a policy.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule_id": "7bc34b8c-8d3b-4ada-a9c8-1f4c11c65692"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="firewall_rule_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID of the firewall rule.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "audited": false,
    "description": "",
    "firewall_list": [],
    "firewall_rules": [
        "a08ef905-0ff6-4784-8374-175fffe7dade",
        "8722e0e0-9cc9-4490-9660-8c9a5732fbb0"
    ],
    "id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
    "name": "test-policy",
    "shared": false,
    "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="audited"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Indicates whether the policy has been audited.
        </para>
                        <para>
            Each time that the firewall policy or its associated rules are
            changed, the API sets this attribute to <code>False</code>. To
            audit the policy, the policy owner must explicitly update the
            policy to set this attribute to <code>True</code>.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="description"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The human-readable description for the firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="firewall_list"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            A list of the UUIDs for firewall associated with the
            firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="firewall_rules"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            A list of the UUIDs for firewall rule associated with the
            firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID for the firewall policy.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
          Human-readable name for the firewall policy.
          Does not have to be unique.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Indicates whether the firewall policy is shared across all tenants.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The UUID of the tenant who owns the firewall policy.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
        
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                            
                        
                    
                <resource id="firewall_rules" path="/v2.0/fw/firewall_rules">
         <method name="GET" rax:id="listFirewallRules">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List firewall rules">
               <para role="shortdesc">
                Lists all firewall rules.
            </para>
               <para>
                The list might be empty.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rules": [
        {
            "action": "allow",
            "description": "",
            "destination_ip_address": null,
            "destination_port": "80",
            "enabled": true,
            "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
            "id": "8722e0e0-9cc9-4490-9660-8c9a5732fbb0",
            "ip_version": 4,
            "name": "ALLOW_HTTP",
            "position": 1,
            "protocol": "tcp",
            "shared": false,
            "source_ip_address": null,
            "source_port": null,
            "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallRulesObject; -->
                  <!-- &firewallRulesResponseParameters; -->
               </representation>
            </response>
            <!-- &fault401; -->
            <!-- &fault403; -->
         </method>
         <method name="POST" rax:id="createFirewallRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create firewall rule">
               <para role="shortdesc">
                Creates a firewall rule.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule": {
        "action": "allow",
        "destination_port": "80",
        "enabled": true,
        "name": "ALLOW_HTTP",
        "protocol": "tcp"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallRuleObject; -->
                  <!-- &firewallRulesRequestParameters; -->
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule": {
        "action": "allow",
        "description": "",
        "destination_ip_address": null,
        "destination_port": "80",
        "enabled": true,
        "firewall_policy_id": null,
        "id": "8722e0e0-9cc9-4490-9660-8c9a5732fbb0",
        "ip_version": 4,
        "name": "ALLOW_HTTP",
        "position": null,
        "protocol": "tcp",
        "shared": false,
        "source_ip_address": null,
        "source_port": null,
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallRuleObject; -->
                  <!-- &firewallRulesResponseParameters; -->
               </representation>
            </response>
            <!-- &fault400; -->
            <!-- &fault401; -->
         </method>
      </resource>
                    
                    
                    <resource path="/v2.0/fw/firewall_rules/{firewall_rule_id}" id="firewall_rule_id">
         <param name="firewall_rule_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Firewall rule UUID">
               <para>
      The UUID for the firewall rule.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showFirewallRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show firewall rule details">
               <para role="shortdesc">
                Shows details for a firewall rule.
            </para>
               <para>
                If the user is not an administrative user and the firewall rule
                object does not belong to the tenant account, this call
                returns the <code>Forbidden (403)</code> response code.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule": {
        "action": "allow",
        "description": "",
        "destination_ip_address": null,
        "destination_port": "80",
        "enabled": true,
        "firewall_policy_id": null,
        "id": "8722e0e0-9cc9-4490-9660-8c9a5732fbb0",
        "ip_version": 4,
        "name": "ALLOW_HTTP",
        "position": null,
        "protocol": "tcp",
        "shared": false,
        "source_ip_address": null,
        "source_port": null,
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallRuleObject; -->
                  <!-- &firewallRulesResponseParameters; -->
               </representation>
            </response>
            <!-- &fault401; -->
            <!-- &fault403; -->
            <!-- &fault404; -->
         </method>
         <method name="PUT" rax:id="updateFirewallRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update firewall rule">
               <para role="shortdesc">
                Updates a firewall rule.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule": {
        "shared": "true"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallRuleObject; -->
                  <!-- &firewallRulesRequestParameters; -->
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "firewall_rule": {
        "action": "allow",
        "description": "",
        "destination_ip_address": null,
        "destination_port": "80",
        "enabled": true,
        "firewall_policy_id": "c69933c1-b472-44f9-8226-30dc4ffd454c",
        "id": "8722e0e0-9cc9-4490-9660-8c9a5732fbb0",
        "ip_version": 4,
        "name": "ALLOW_HTTP",
        "position": 1,
        "protocol": "tcp",
        "shared": true,
        "source_ip_address": null,
        "source_port": null,
        "tenant_id": "45977fa2dbd7482098dd68d0d8970117"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &firewallRuleObject; -->
                  <!-- &firewallRulesResponseParameters; -->
               </representation>
            </response>
            <!-- &fault400; -->
            <!-- &fault401; -->
            <!-- &fault404; -->
         </method>
         <method name="DELETE" rax:id="deleteFirewallRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete firewall rule">
               <para role="shortdesc">
                Deletes a firewall rule.
            </para>
            </wadl:doc>
            <response status="204"/>
            <!-- &fault401; -->
            <!-- &fault404; -->
            <!-- &fault409conflict; -->
         </method>
      </resource>
                        

                        
                        
                        
                    
                
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Firewall  -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listFirewalls">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="firewalls"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showFirewall">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewallObject; -->
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
        <!-- &fault404; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createFirewall">
        
        <request>
            <representation mediaType="application/json">
                
                <!-- &firewallObject; -->
                <!-- &firewallRequestParameters; -->
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
                <!-- &firewallObject; -->
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateFirewall">
        
        <request>
            <representation mediaType="application/json">
                
                <!-- &firewallObject; -->
                <!-- &firewallUpdateParameters; -->
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewallObject; -->
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
        <!-- &fault404; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteFirewall">
        
        <response status="204"/>
        <!-- &fault401; -->
        <!-- &fault404; -->
        <!-- &fault409conflict; -->
    </method>
    <!-- Firewall policies -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listFirewallPolicies">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewall-policiesObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showFirewallPolicy">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
        <!-- &fault404; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createFirewallPolicy">
        
        <request>
            <representation mediaType="application/json">
                
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyRequestParameters; -->
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateFirewallPolicy">
        
        <request>
            <representation mediaType="application/json">
                
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyRequestParameters; -->
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
        <!-- &fault404; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="insert_ruleFirewallPolicy">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="firewall_rule_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="false"
                   name="insert_before"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="false"
                   name="insert_after"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="audited"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="description"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="firewall_list"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="firewall_rules"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
            </representation>
        </response>
        
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="remove_ruleFirewallPolicy">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="firewall_rule_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="audited"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="description"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="firewall_list"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="firewall_rules"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
            </representation>
        </response>
        
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteFirewallPolicy">
        
        <response status="204"/>
        <!-- &fault401; -->
        <!-- &fault404; -->
        <!-- &fault409conflict; -->
    </method>
    <!-- Firewall rules  -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listFirewallRules">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewallRulesObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showFirewallRule">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
        <!-- &fault404; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createFirewallRule">
        
        <request>
            <representation mediaType="application/json">
                
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesRequestParameters; -->
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateFirewallRule">
        
        <request>
            <representation mediaType="application/json">
                
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesRequestParameters; -->
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
        <!-- &fault404; -->
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteFirewallRule">
        
        <response status="204"/>
        <!-- &fault401; -->
        <!-- &fault404; -->
        <!-- &fault409conflict; -->
    </method>
</wadl:application>
