samples/compute-api/35140-quotas.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent quotas.wadl                     -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/networking-api/src/wadl/quotas.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v1.1"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="osapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="itemNotFound">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            <rax:resource rax:id="quotas">
         <rax:resource rax:id="tenant_id"/>
      </rax:resource>
        </rax:resources>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-quotas-v2.0">
        <resource id="quotas" path="/v2.0/quotas">
         <method name="GET" rax:id="listQuotas">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List quotas for tenants with non-default quota values">
               <para role="shortdesc">
                Lists quotas for tenants who have non-default quota values.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quotas": [
        {
            "subnet": 10,
            "network": 15,
            "floatingip": 50,
            "tenant_id": "bab7d5c60cd041a0a36f7c4b6e1dd978",
            "subnetpool": -1,
            "security_group_rule": 100,
            "security_group": 10,
            "router": 10,
            "rbac_policy": -1,
            "port": 50
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="quotas"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of quota objects.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnet"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnets allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of networks allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="floatingip"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of floating IP addresses allowed for each tenant.
   </para>
                        <para>
      A value of <code>-1</code> means no limit.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnet pools allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="security_group_rule"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security group rules allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="security_group"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security groups allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of routers allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="rbac_policy"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of role-based access control (RBAC) policies for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="port"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of ports allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                
                <resource id="tenant_id" path="/v2.0/quotas/{tenant_id}">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listQuotasForTenant">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List quotas for a tenant">
               <para role="shortdesc">
                Lists quotas for a tenant.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota": {
        "subnet": 10,
        "network": 10,
        "floatingip": 50,
        "subnetpool": -1,
        "security_group_rule": 100,
        "security_group": 10,
        "router": 10,
        "rbac_policy": -1,
        "port": 50
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="quota"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>quota</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnet"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnets allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of networks allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="floatingip"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of floating IP addresses allowed for each tenant.
   </para>
                        <para>
      A value of <code>-1</code> means no limit.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnet pools allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="security_group_rule"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security group rules allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="security_group"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security groups allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of routers allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="rbac_policy"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of role-based access control (RBAC) policies for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="port"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of ports allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="osapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="osapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="osapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" rax:id="updateQuota">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update quota for a tenant">
               <para role="shortdesc">
                Updates quotas for a tenant. Use when non-default quotas are
                desired.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota": {
        "subnet": 10,
        "network": 10,
        "floatingip": 50,
        "subnetpool": -1,
        "security_group_rule": 100,
        "security_group": 10,
        "router": 10,
        "rbac_policy": -1,
        "port": 50
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="quota"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>quota</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="subnet"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnets allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="network"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of networks allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="floatingip"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of floating IP addresses allowed for each tenant.
   </para>
                        <para>
      A value of <code>-1</code> means no limit.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="subnetpool"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnet pools allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="security_group_rule"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security group rules allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="security_group"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security groups allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="router"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of routers allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="rbac_policy"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of role-based access control (RBAC) policies for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="port"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of ports allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota": {
        "subnet": 10,
        "network": 15,
        "floatingip": 50,
        "subnetpool": -1,
        "security_group_rule": 100,
        "security_group": 10,
        "router": 10,
        "rbac_policy": -1,
        "port": 50
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="quota"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>quota</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnet"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnets allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of networks allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="floatingip"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of floating IP addresses allowed for each tenant.
   </para>
                        <para>
      A value of <code>-1</code> means no limit.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnetpool"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of subnet pools allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="security_group_rule"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security group rules allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="security_group"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of security groups allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of routers allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="rbac_policy"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of role-based access control (RBAC) policies for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="port"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of ports allowed for each tenant.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="osapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="osapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="osapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="resetQuota">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Reset quota for a tenant">
               <para role="shortdesc">
                Resets quotas to default values for a tenant.
            </para>
            </wadl:doc>
            <response status="204"/>
            <response status="401">
               <representation mediaType="application/xml" element="osapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="osapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="osapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    

                    
                    
                    
                
            
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listQuotas">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="quotas"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="subnet"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="floatingip"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="security_group_rule"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="security_group"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="router"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="rbac_policy"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="port"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="csapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="csapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listQuotasForTenant">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="quota"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="subnet"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="floatingip"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="security_group_rule"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="security_group"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="router"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="rbac_policy"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="port"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="osapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="osapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="osapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateQuota">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="quota"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="subnet"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="network"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="floatingip"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="subnetpool"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="security_group_rule"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="security_group"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="router"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="rbac_policy"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="port"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param required="true"
                   name="quota"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="subnet"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="floatingip"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="subnetpool"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="security_group_rule"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="security_group"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="router"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="rbac_policy"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="port"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="osapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="osapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="osapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns:osapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="resetQuota">
        
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="osapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="osapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="osapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</wadl:application>
