samples/compute-api/39734-servers-action-shelve-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-shelve-v2.1.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/identity/api/v3"
                name="UUID">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="string">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="202"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
              

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                
                    
                        

  
    
      The UUID of the server.
   
  

                        <rax:resource rax:id="action"/>
                    
                
            
        </rax:resources>
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-shelve-v2.1">
        <resource id="action" path="/v2.1/{tenant_id}/servers/{server_id}/action">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="server_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the server.
   </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="shelve">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Shelve server (shelve action)">
               <para role="shortdesc">Shelves a server.</para>
               <para>
              Specify the <code>shelve</code> action in the request
              body.
            </para>
               <para>
              All associated data and resources are kept but anything still in
              memory is not retained. To restore a shelved instance, use the
              <code>unshelve</code> action. To remove a shelved instance, use
              the <code>shelveOffload</code> action.
            </para>
               <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Cloud
              providers can change these permissions through the
              <code>policy.json</code> file.
            </para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>
                    The server status must be <code>ACTIVE</code>,
                    <code>SHUTOFF</code>, <code>PAUSED</code>, or
                    <code>SUSPENDED</code>.
                  </para>
                  </listitem>
                  <listitem>
                     <para>
                    If the server is locked, you must have
                    administrator privileges to shelve the server.
                  </para>
                  </listitem>
               </itemizedlist>
               <para>Asynchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>
                    After you successfully shelve a server, its status changes
                    to <code>SHELVED</code> and the image status is
                    <code>ACTIVE</code>. The server instance data appears on
                    the compute node that the Compute service manages.
                  </para>
                  </listitem>
                  <listitem>
                     <para>
                    If you boot the server from volumes or set the
                    <code>shelved_offload_time</code> option to 0, the Compute
                    service automatically deletes the instance on compute
                    nodes and changes the server status to
                    <code>SHELVED_OFFLOADED</code>.
                  </para>
                  </listitem>
               </itemizedlist>
               <para>Troubleshooting</para>
               <itemizedlist>
                  <listitem>
                     <para>
                    If the server status does not change to
                    <code>SHELVED</code> or <code>SHELVED_OFFLOADED</code>,
                    the shelve operation failed. Ensure that you meet the
                    preconditions and run the request again. If the request
                    fails again, investigate whether another operation is
                    running that causes a race condition.
                  </para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Shelve server: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "shelve": null
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
           
                  <param name="shelve"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
     The action.
  </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="202"/>
         </method>
         <method name="POST" rax:id="shelveOffload">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Shelf-offload (remove) server (shelveOffload action)">
               <para role="shortdesc">
              Shelf-offloads, or removes, a shelved server.
            </para>
               <para>
              Specify the <code>shelveOffload</code> action in the request body.
            </para>
               <para>Data and resource associations are deleted. If an
                instance is no longer needed, you can remove that
                instance from the hypervisor to minimize resource
                usage.</para>
               <para>
                Policy defaults enable only users with the administrative
                role or the owner of the server to perform this
                operation. Cloud providers can change these permissions through the
                <code>policy.json</code> file.
              </para>
              <para>Preconditions</para>
              <itemizedlist>
                  <listitem>
                     <para>The server status must be
                  <code>SHELVED</code>.</para>
                  </listitem>
                  <listitem>
                     <para>
                    If the server is locked, you must have
                    administrator privileges to shelve-offload the server.
                </para>
                  </listitem>
              </itemizedlist>
              <para>Asynchronous Postconditions</para>
              <itemizedlist>
                  <listitem>
                     <para>After you successfully shelve-offload a
                  server, its status changes to <code>SHELVED_OFFLOADED</code>.
                  The server instance data appears on the compute
                  node.</para>
                  </listitem>
              </itemizedlist>
              <para>Troubleshooting</para>
              <itemizedlist>
                  <listitem>
                     <para>If the server status does not change
                  to <code>SHELVED_OFFLOADED</code>, the shelve-offload
                  operation failed. Ensure that you meet the preconditions
                  and run the request again. If the request fails again,
                  investigate whether another operation is running that
                  causes a race condition.</para>
                  </listitem>
              </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Shelve server: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "shelveOffload": null
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
             
                  <param name="shelveOffload"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The action.
    </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="202"/>
         </method>
         <method name="POST" rax:id="unshelve">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Unshelve (restore) shelved server (unshelve action)">
               <para role="shortdesc">
              Unshelves, or restores, a shelved server.
            </para>
               <para>
                Specify the <code>unshelve</code> action in the request
                body.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
              </para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>The server status must be
                  <code>SHELVED</code> or <code>SHELVED_OFFLOADED</code>.
                  </para>
                  </listitem>
                  <listitem>
                     <para>If the server is locked,
                  you must have administrator privileges to unshelve
                  the server.</para>
                  </listitem>
               </itemizedlist>
               <para>Asynchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>
                  After you successfully shelve a server, its status changes
                  to <code>ACTIVE</code>. The server appears on the compute node.
                </para>
                  </listitem>
                  <listitem>
                     <para>
                  The shelved image is deleted from the list of images
                  returned by an API call.
                </para>
                  </listitem>
               </itemizedlist>
               <para>Troubleshooting</para>
               <itemizedlist>
                  <listitem>
                     <para>
                  If the server status does not change to <code>ACTIVE</code>,
                  the unshelve operation failed. Ensure that you meet the
                  preconditions and run the request again. If the request
                  fails again, investigate whether another operation is
                  running that causes a race condition.
                </para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Unshelve server: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "unshelve": null
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
             
                  <param name="unshelve"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="os-unshelve">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         The action.
       </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="202"/>
         </method>
      </resource>
                            
                            
                            
                        
    </resources>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="shelve">
        
        <request>
            <representation mediaType="application/json">
                
           
            <param name="shelve"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param> 
         </representation>
        </request>
        <response status="202"/>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="shelveOffload">
        
        <request>
            <representation mediaType="application/json">
                
             
            <param name="shelveOffload"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
  
</param> 
         </representation>
        </request>
        <response status="202"/>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="unshelve">
        
        <request>
            <representation mediaType="application/json">
                
             
            <param name="unshelve"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="os-unshelve">
   
</param> 
         </representation>
        </request>
        <response status="202"/>
    </method>
</wadl:application>
