samples/compute-api/44114-cgsnapshots-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/volume-api/src/v2/wadl/cgsnapshots-v2.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="cgsnapshots">
         <rax:resource rax:id="detail"/>
         <rax:resource rax:id="cgsnapshot_id"/>
      </rax:resource>
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:json="http://json-schema.org/schema#"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://volume.example.com/"
              xml:id="cgsnapshots-v2">
        <resource id="cgsnapshots" path="/v2/{tenant_id}/cgsnapshots">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listCGsnapshots">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List consistency group snapshots">
               <para role="shortdesc">
                Lists all consistency group snapshots.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "cgsnapshots": [
        {
            "id": "6f519a48-3183-46cf-a32f-41815f813986",
            "name": "my-cg1"
        },
        {
            "id": "aed36625-a6d7-4681-ba59-c7ba3d18c148",
            "name": "my-cg2"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot name.
   </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createCGsnapshot">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create consistency group snapshot">
               <para role="shortdesc">
                Creates a consistency group snapshot.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "cgsnapshot": {
        "consistencygroup_id": "6f519a48-3183-46cf-a32f-41815f814546",
        "name": "firstcg",
        "description": "first consistency group",
        "user_id": "6f519a48-3183-46cf-a32f-41815f814444",
        "project_id": "6f519a48-3183-46cf-a32f-41815f815555",
        "status": "creating"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot name.
   </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "cgsnapshot": {
        "id": "6f519a48-3183-46cf-a32f-41815f816666",
        "name": "firstcg"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="consistencygroup_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The <code>status</code> of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>

                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when the resource was created.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot name.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot description.
   </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="detail" path="/v2/{tenant_id}/cgsnapshots/detail">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listCGsnapshotsDetail-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List consistency group snapshots with details">
               <para role="shortdesc">
                Lists all consistency group snapshots with details.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "cgsnapshots": [
        {
            "id": "6f519a48-3183-46cf-a32f-41815f813986",
            "consistencygroup_id": "6f519a48-3183-46cf-a32f-41815f814444",
            "status": "available",
            "created_at": "2015-09-16T09:28:52.000000",
            "name": "my-cg1",
            "description": "my first consistency group"
        },
        {
            "id": "aed36625-a6d7-4681-ba59-c7ba3d18c148",
            "consistencygroup_id": "aed36625-a6d7-4681-ba59-c7ba3d18dddd",
            "status": "error",
            "created_at": "2015-09-16T09:31:15.000000",
            "name": "my-cg2",
            "description": "Edited description"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="consistencygroup_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The <code>status</code> of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>

                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when the resource was created.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot name.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot description.
   </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        
                    
                    <resource path="/v2/{tenant_id}/cgsnapshots/{cgsnapshot_id}" id="cgsnapshot_id">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="cgsnapshot_id"
                style="template"
                type="xsd:string"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the consistency group snapshot.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showCGsnapshot">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show consistency group snapshot details">
               <para role="shortdesc">
                Shows details for a consistency group snapshot.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "cgsnapshot": {
        "id": "6f519a48-3183-46cf-a32f-41815f813986",
        "consistencygroup_id": "6f519a48-3183-46cf-a32f-41815f814444",
        "status": "available",
        "created_at": "2015-09-16T09:28:52.000000",
        "name": "my-cg1",
        "description": "my first consistency group"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="consistencygroup_id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the consistency group.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="plain"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The <code>status</code> of the consistency group snapshot.
   </para>
                     </wadl:doc>
                  </param>

                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:dateTime"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when the resource was created.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot name.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The consistency group snapshot description.
   </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteCGsnapshot">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete consistency group snapshot">
               <para role="shortdesc">
                Deletes a consistency group snapshot.
            </para>
            </wadl:doc>
            <response status="202">
        </response>
         </method>
      </resource>
                        

                        
                        
                    
                
    </resources>
    <!-- consistency group snapshots -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listCGsnapshots">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listCGsnapshotsDetail-v2">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="consistencygroup_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="status"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>

            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
    
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createCGsnapshot">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="consistencygroup_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="status"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>

            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
    
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteCGsnapshot">
        
        <response status="202">
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showCGsnapshot">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="consistencygroup_id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
   
</param>
            <param name="status"
                   style="plain"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>

            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:dateTime"
                   rax:id="">
    
</param>
            <param name="name"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
   
</param>
            <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            </representation>
        </response>
    </method>
</wadl:application>
