samples/compute-api/56409-os-agents-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/compute-api/src/v2.1/wadl/os-agents-v2.1.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/identity/api/v3"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="201"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="os-agents">
         <rax:resource rax:id="agent_id"/>
      </rax:resource>
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-agents-v2.1">
        <resource id="os-agents" path="/v2.1/{tenant_id}/os-agents">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="agentbuild">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create agent build">
               <para role="shortdesc">Creates an agent build.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "agent": {
        "hypervisor": "hypervisor",
        "os": "os",
        "architecture": "x86",
        "version": "8.0",
        "md5hash": "add6bb58e139be103324d04d82d8f545",
        "url": "http://example.com/path/to/resource"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "agent": {
        "agent_id": 1,
        "architecture": "x86",
        "hypervisor": "hypervisor",
        "md5hash": "add6bb58e139be103324d04d82d8f545",
        "os": "os",
        "url": "http://example.com/path/to/resource",
        "version": "8.0"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="GET" rax:id="listbuilds">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List agent builds">
               <para role="shortdesc">Lists agent builds.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "agents": [
        {
            "agent_id": 1,
            "architecture": "x86",
            "hypervisor": "hypervisor",
            "md5hash": "add6bb58e139be103324d04d82d8f545",
            "os": "os",
            "url": "http://example.com/path/to/resource",
            "version": "8.0"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="x-openstack-request-id"
                         style="header"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
         A unique request ID that provides tracking for the request. Provider
         must configure middleware to return a request ID header in a
         response.
      </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteBuild">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete agent build">
               <para role="shortdesc">Deletes an existing agent
                build.</para>
            </wadl:doc>
            <response status="202"/>
         </method>
      </resource>
                    
                    
                    <resource path="/v2.1/{tenant_id}/os-agents/{agent_build_id}" id="agent_id">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="agent_build_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
            The UUID of the agent build.
        </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="updatebuild">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update agent build">
               <para role="shortdesc">Updates an agent build.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "para": {
        "url": "http://example.com/path/to/resource",
        "md5hash": "add6bb58e139be103324d04d82d8f545",
        "version": "7.0"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="url"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The URL
                           associated with the
                        agent.</para>
                     </wadl:doc>
                  </param>
                  <param name="md5hash"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The MD5 hash.</para>
                     </wadl:doc>
                  </param>
                  <param name="version"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The version.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "agent": {
        "agent_id": "1",
        "md5hash": "add6bb58e139be103324d04d82d8f545",
        "url": "http://example.com/path/to/resource",
        "version": "7.0"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="agent_id"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The agent ID.</para>
                     </wadl:doc>
                  </param>
                  <param name="url"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The URL
                           associated with the
                        agent.</para>
                     </wadl:doc>
                  </param>
                  <param name="md5hash"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The MD5 hash.</para>
                     </wadl:doc>
                  </param>
                  <param name="version"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The version.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        

                        
                    
                    
                
    </resources>
    <!--             Guest Agents                              -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="agentbuild">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listbuilds">
        
        <response status="200">
            <representation mediaType="application/json">
                 
            <param name="x-openstack-request-id"
                   style="header"
                   required="false"
                   type="xsd:string"
                   rax:id="">
   
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updatebuild">
        
        <request>
            <representation mediaType="application/json">
                
                <param name="url"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
                <param name="md5hash"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
                <param name="version"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                <param name="agent_id"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
                    
                </param>
                <param name="url"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
                <param name="md5hash"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
                <param name="version"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteBuild">
        
        <response status="202"/>
    </method>
</wadl:application>
