samples/compute-api/57893-networks.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent networks.wadl                   -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/networking-api/src/wadl/networks.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/compute/api/v1.1"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200 300"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="503"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="serviceUnavailable">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="405"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="badMethod">
         <para/>
      </rax:response>
      <rax:response status="413"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="overLimit">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="itemNotFound">
         <para/>
      </rax:response>
      <rax:response status="409"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="conflict">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
      <rax:resource rax:id="networks-versions"/>
            <rax:resource rax:id="extensions">
         <rax:resource rax:id="extension"/>
      </rax:resource>
        
            <rax:resource rax:id="networks">
         <rax:resource rax:id="network_id"/>
      </rax:resource>
        </rax:resources>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-networks-v2.0">
        <resource id="networks-versions" path="/">
         <method name="GET" rax:id="networks-listVersions">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List API versions">
               <para role="shortdesc">
                Lists information about all Networking API versions.
            </para>
            </wadl:doc>
            <response status="200 300">
               <representation mediaType="application/json">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "versions": [
        {
            "status": "CURRENT",
            "id": "v2.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9696/v2.0",
                    "rel": "self"
                }
            ]
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
            
        
        <resource id="extensions" path="/v2/extensions">
         <method name="GET" rax:id="listExtensions">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List extensions">
               <para>
                Lists available Networking API extensions.
            </para>
            </wadl:doc>
            <response status="200">
               <param name="next"
                      style="plain"
                      type="xsd:anyURI"
                      path="/capi:extensions/atom:link[@rel='next']/@href"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        Moves to the next item in the list.
                    </para>
                  </wadl:doc>
                  <link resource_type="#ExtensionList" rel="next"/>
               </param>
               <param name="previous"
                      style="plain"
                      type="xsd:anyURI"
                      path="/capi:extensions/atom:link[@rel='previous']/@href"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        Moves to the previous item in the list.
                    </para>
                  </wadl:doc>
                  <link resource_type="#ExtensionList" rel="previous"/>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List extensions: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "extensions": [
        {
            "updated": "2013-01-20T00:00:00-00:00",
            "name": "Neutron Service Type Management",
            "links": [],
            "alias": "service-type",
            "description": "API for retrieving service providers for Neutron advanced services"
        },
        {
            "updated": "2012-10-05T10:00:00-00:00",
            "name": "security-group",
            "links": [],
            "alias": "security-group",
            "description": "The security groups extension."
        },
        {
            "updated": "2013-02-07T10:00:00-00:00",
            "name": "L3 Agent Scheduler",
            "links": [],
            "alias": "l3_agent_scheduler",
            "description": "Schedule routers among l3 agents"
        },
        {
            "updated": "2013-02-07T10:00:00-00:00",
            "name": "Loadbalancer Agent Scheduler",
            "links": [],
            "alias": "lbaas_agent_scheduler",
            "description": "Schedule pools among lbaas agents"
        },
        {
            "updated": "2013-03-28T10:00:00-00:00",
            "name": "Neutron L3 Configurable external gateway mode",
            "links": [],
            "alias": "ext-gw-mode",
            "description": "Extension of the router abstraction for specifying whether SNAT should occur on the external gateway"
        },
        {
            "updated": "2014-02-03T10:00:00-00:00",
            "name": "Port Binding",
            "links": [],
            "alias": "binding",
            "description": "Expose port bindings of a virtual port to external application"
        },
        {
            "updated": "2012-09-07T10:00:00-00:00",
            "name": "Provider Network",
            "links": [],
            "alias": "provider",
            "description": "Expose mapping of virtual networks to physical networks"
        },
        {
            "updated": "2013-02-03T10:00:00-00:00",
            "name": "agent",
            "links": [],
            "alias": "agent",
            "description": "The agent management extension."
        },
        {
            "updated": "2012-07-29T10:00:00-00:00",
            "name": "Quota management support",
            "links": [],
            "alias": "quotas",
            "description": "Expose functions for quotas management per tenant"
        },
        {
            "updated": "2013-02-07T10:00:00-00:00",
            "name": "DHCP Agent Scheduler",
            "links": [],
            "alias": "dhcp_agent_scheduler",
            "description": "Schedule networks among dhcp agents"
        },
        {
            "updated": "2013-06-27T10:00:00-00:00",
            "name": "Multi Provider Network",
            "links": [],
            "alias": "multi-provider",
            "description": "Expose mapping of virtual networks to multiple physical networks"
        },
        {
            "updated": "2013-01-14T10:00:00-00:00",
            "name": "Neutron external network",
            "links": [],
            "alias": "external-net",
            "description": "Adds external network attribute to network resource."
        },
        {
            "updated": "2012-07-20T10:00:00-00:00",
            "name": "Neutron L3 Router",
            "links": [],
            "alias": "router",
            "description": "Router abstraction for basic L3 forwarding between L2 Neutron networks and access to external networks via a NAT gateway."
        },
        {
            "updated": "2013-07-23T10:00:00-00:00",
            "name": "Allowed Address Pairs",
            "links": [],
            "alias": "allowed-address-pairs",
            "description": "Provides allowed address pairs"
        },
        {
            "updated": "2013-03-17T12:00:00-00:00",
            "name": "Neutron Extra DHCP opts",
            "links": [],
            "alias": "extra_dhcp_opt",
            "description": "Extra options configuration for DHCP. For example PXE boot options to DHCP clients can be specified (e.g. tftp-server, server-ip-address, bootfile-name)"
        },
        {
            "updated": "2012-10-07T10:00:00-00:00",
            "name": "LoadBalancing service",
            "links": [],
            "alias": "lbaas",
            "description": "Extension for LoadBalancing service"
        },
        {
            "updated": "2013-02-01T10:00:00-00:00",
            "name": "Neutron Extra Route",
            "links": [],
            "alias": "extraroute",
            "description": "Extra routes configuration for L3 router"
        }
    ]
}
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/>
        
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                
                <resource id="extension" path="/v2/extensions/{alias}">
         <param name="alias" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The alias of an extension.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showExtension">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show extension details">
               <para>
                Shows details for an extension.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get extension details: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "extension": {
        "updated": "2013-02-03T10:00:00-00:00",
        "name": "agent",
        "links": [],
        "alias": "agent",
        "description": "The agent management extension."
    }
}
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/>
        
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    

                    
                
            
        <resource id="networks" path="/v2.0/networks">
         <wadl:doc xmlns="http://docbook.org/ns/docbook"
                   xml:lang="EN"
                   title="Network list">
            <para>
                A list of networks.
            </para>
        </wadl:doc>
         <method name="GET" rax:id="listNetworks">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List networks">
               <para role="shortdesc">
                Lists networks to which the tenant has access.
            </para>
               <para>
                Use the <code>fields</code> query parameter to filter the response.
                For information, see <link xlink:href="https://wiki.openstack.org/wiki/Neutron/APIv2-specification#Filtering_and_Column_Selection">Filtering and Column Selection</link>.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "networks": [
        {
            "status": "ACTIVE",
            "subnets": [
                "54d6f61d-db07-451c-9ab3-b9609b6b6f0b"
            ],
            "name": "private-network",
            "provider:physical_network": null,
            "admin_state_up": true,
            "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
            "provider:network_type": "local",
            "router:external": true,
            "mtu": 0,
            "shared": true,
            "id": "d32019d3-bc6e-4319-9c1d-6722fc136a22",
            "provider:segmentation_id": null
        },
        {
            "status": "ACTIVE",
            "subnets": [
                "08eae331-0402-425a-923c-34f7cfe39c1b"
            ],
            "name": "private",
            "provider:physical_network": null,
            "admin_state_up": true,
            "tenant_id": "26a7980765d0414dbc1fc1f88cdb7e6e",
            "provider:network_type": "local",
            "router:external": true,
            "mtu": 0,
            "shared": true,
            "id": "db193ab3-96e3-4cb3-8fc5-05f4296d0324",
            "provider:segmentation_id": null
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="networks"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>network</code> objects.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The administrative state of the network, which is
        up (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the network.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
          The network name.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is shared across all tenants. By default,
      only administrative users can change this value.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="status"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The network
        status.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnets"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated
        subnets.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The UUID of the tenant.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="mtu"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The MTU of a network resource.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
        
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create network">
               <para role="shortdesc">
                Creates a network.
            </para>
               <para>
                A request body is optional. An administrative user can
                specify another tenant UUID, which is the tenant who owns the
                network, in the request body.
            </para>
            </wadl:doc>
            <request>
            
               <param required="true"
                      name="network"
                      style="plain"
                      type="xsd:dict"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      A <code>network</code> object.
    </para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:boolean"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The administrative state of the network, which is up (<code>true</code>)
      or down (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="name"
                      style="plain"
                      type="xsd:string"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The network name. A request body is optional: If you include it, it can
      specify this optional attribute.
    </para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="shared"
                      style="plain"
                      type="xsd:boolean"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      Indicates whether this network is shared across all tenants. By default,
      only administrative users can change this value.
    </para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="tenant_id"
                      style="plain"
                      type="csapi:UUID"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      Admin-only. The UUID of the tenant that owns the network. This tenant
      can be different from the tenant that makes the create network request.
      However, only administrative users can specify a tenant UUID other than
      their own. You cannot change this value through authorization policies.
    </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="router:external"
                      style="plain"
                      type="xsd:bool"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this
                        network is externally
                        accessible.</para>
                  </wadl:doc>
               </param>
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "network": {
        "name": "sample_network",
        "admin_state_up": true
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [],
        "name": "net1",
        "admin_state_up": true,
        "tenant_id": "9bacb3c5d39d41a79512987f338cf177",
        "router:external": false,
        "mtu": 0,
        "shared": false,
        "id": "4e8e5957-649f-477b-9e5b-f1f75b21c03c"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>network</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The administrative state of the network, which is
        up (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the network.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
          The network name.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is shared across all tenants. By default,
      only administrative users can change this value.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="status"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The network
        status.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnets"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated
        subnets.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The UUID of the tenant.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="mtu"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The MTU of a network resource.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="POST" rax:id="bulkCreateNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Bulk create networks">
               <para role="shortdesc">
                Creates multiple networks in a single request.
            </para>
               <para>
                In the request body, specify a list of networks.
            </para>
               <para>
                The bulk create operation is always atomic. Either all or no
                networks in the request body are created.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "networks": [
        {
            "name": "sample_network3",
            "admin_state_up": true
        },
        {
            "name": "sample_network4",
            "admin_state_up": true
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="networks"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>network</code> objects.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The administrative state of the network, which is up
      (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http:/docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The network name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Admin-only. Indicates whether this network is shared across all tenants.
    </para>
                     </wadl:doc>
                  </param>

                  <param required="false"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the network. Only administrative users
      can specify a tenant UUID other than their own. You cannot change this
      value through authorization policies.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="port_security_enabled"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The port security status. A valid value is enabled (<code>true</code>)
      or disabled (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "networks": [
        {
            "status": "ACTIVE",
            "subnets": [],
            "name": "sample_network3",
            "provider:physical_network": null,
            "admin_state_up": true,
            "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
            "mtu": 0,
            "shared": false,
            "id": "bc1a76cb-8767-4c3a-bb95-018b822f2130",
            "provider:segmentation_id": null
        },
        {
            "status": "ACTIVE",
            "subnets": [],
            "name": "sample_network4",
            "provider:physical_network": null,
            "admin_state_up": true,
            "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
            "mtu": 0,
            "shared": false,
            "id": "af374017-c9ae-4a1d-b799-ab73111476e2",
            "provider:segmentation_id": null
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="networks"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>network</code> objects.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The administrative state of the network, which is up
      (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the network.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The network name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is shared across all tenants.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="status"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The network status.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="subnets"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The associated subnets.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the tenant who owns the network.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="mtu"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The MTU of a network resource.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="true"
                         name="port_security_enabled"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
      </resource>
      <resource path="/v2.0/networks/{network_id}" id="network_id">
         <param required="true"
                name="network_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the network.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show network details">
               <para role="shortdesc">Shows details for a
                network.</para>
               <para>You can control which response parameters are returned by
                using the fields query parameter. For information, see <link xlink:href="http://specs.openstack.org/openstack/neutron-specs/specs/api/networking_general_api_information.html#filtering-and-column-selection">Filtering and column selection</link>.
                </para>
               <para>
                The response might show extension response parameters. For
                information, see <link xlink:href="http://developer.openstack.org/api-ref-networking-v2-ext.html#showProviderNetwork">Networks multiple provider extension (networks)</link>.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [
            "54d6f61d-db07-451c-9ab3-b9609b6b6f0b"
        ],
        "name": "private-network",
        "router:external": false,
        "admin_state_up": true,
        "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
        "mtu": 0,
        "shared": true,
        "port_security_enabled": true,
        "id": "d32019d3-bc6e-4319-9c1d-6722fc136a22"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>network</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The administrative state of the network, which is
        up (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the network.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
          The network name.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is shared across all tenants. By default,
      only administrative users can change this value.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="status"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The network
        status.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnets"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated
        subnets.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The UUID of the tenant.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="mtu"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The MTU of a network resource.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
        
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" rax:id="updateNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update network">
               <para role="shortdesc">
                Updates a network.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "network": {
        "name": "sample_network_5_updated"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>network</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="false"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The administrative state of the network, which is up
      (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http:/docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The network name.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Admin-only. Indicates whether this network is shared across all tenants.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                  <param required="false"
                         name="port_security_enabled"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="csapi:network">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [],
        "name": "sample_network_5_updated",
        "provider:physical_network": null,
        "admin_state_up": true,
        "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
        "provider:network_type": "local",
        "router:external": false,
        "mtu": 0,
        "shared": false,
        "port_security_enabled": true,
        "id": "1f370095-98f6-4079-be64-6d3d4a6adcc6",
        "provider:segmentation_id": null
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param required="true"
                         name="network"
                         style="plain"
                         type="xsd:dict"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>network</code> object.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="admin_state_up"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        The administrative state of the network, which is
        up (<code>true</code>) or down (<code>false</code>).
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The UUID of the network.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="name"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
          The network name.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="shared"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is shared across all tenants. By default,
      only administrative users can change this value.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="status"
                         style="plain"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The network
        status.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="subnets"
                         style="plain"
                         type="xsd:list"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated
        subnets.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="tenant_id"
                         style="plain"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The UUID of the tenant.</para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="router:external"
                         style="plain"
                         type="xsd:boolean"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Indicates whether this network is externally accessible.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param required="true"
                         name="mtu"
                         style="plain"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The MTU of a network resource.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
        
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete network">
               <para role="shortdesc">
                Deletes a network and its associated resources.
            </para>
            </wadl:doc>
            <response status="204"/>
        
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
        
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    

                    
                    
                    
                
    </resources>
    
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="networks-listVersions">
        
        <response status="200 300">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="networks-showVersionDetails">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <param name="location"
                   style="plain"
                   type="xsd:anyURI"
                   required="true"
                   path="/common:version/atom:link[@rel='self']/@href"
                   rax:id="">
                    
                    
                </param>
            </representation>
        </response>
        <response status="203"/>
    </method>
    <!-- Extensions -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listExtensions">
        
        <response status="200">
            <param name="next"
                style="plain"
                type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='next']/@href"
                rax:id="">
                
                
            </param>
            <param name="previous"
                style="plain"
                type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='previous']/@href"
                rax:id="">
                
                
            </param>
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="203"/>
        
      <response status="503">
         <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="405">
         <representation mediaType="application/xml" element="csapi:badMethod"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="413">
         <representation mediaType="application/xml" element="csapi:overLimit"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showExtension">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="203"/>
        
      <response status="503">
         <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="405">
         <representation mediaType="application/xml" element="csapi:badMethod"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="413">
         <representation mediaType="application/xml" element="csapi:overLimit"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listNetworks">
        
        <response status="200">
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="networks"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="status"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="subnets"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="mtu"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
        
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createNetwork">
        
        <request>
            
         <param required="true"
                name="network"
                style="plain"
                type="xsd:dict"
                rax:id="">
  
</param>
            
         <param required="false"
                name="admin_state_up"
                style="plain"
                type="xsd:boolean"
                rax:id="">
  
</param>
            
         <param required="false"
                name="name"
                style="plain"
                type="xsd:string"
                rax:id="">
  
</param>
            
         <param required="false"
                name="shared"
                style="plain"
                type="xsd:boolean"
                rax:id="">
  
</param>
            
         <param required="false"
                name="tenant_id"
                style="plain"
                type="csapi:UUID"
                rax:id="">
  
</param>
            <param required="false"
                name="router:external"
                style="plain"
                type="xsd:bool"
                rax:id="">
                
            </param>
            <representation mediaType="application/json" element="csapi:network">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="status"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="subnets"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="mtu"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="bulkCreateNetwork">
        
        <request>
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="networks"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="false"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="false"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>

            <param required="false"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="false"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="false"
                   name="port_security_enabled"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="networks"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="true"
                   name="status"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="true"
                   name="subnets"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
  
</param>
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param required="true"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="true"
                   name="mtu"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param required="true"
                   name="port_security_enabled"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showNetwork">
        
        <response status="200">
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="status"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="subnets"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="mtu"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
        
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateNetwork">
        
        <request>
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="false"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="false"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
  
</param>
            <param required="false"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="false"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            <param required="false"
                   name="port_security_enabled"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="csapi:network">
                
                
            <param required="true"
                   name="network"
                   style="plain"
                   type="xsd:dict"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="admin_state_up"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="name"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="shared"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="status"
                   style="plain"
                   type="xsd:string"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="subnets"
                   style="plain"
                   type="xsd:list"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="tenant_id"
                   style="plain"
                   type="csapi:UUID"
                   rax:id="">
    
</param>
                
            <param required="true"
                   name="router:external"
                   style="plain"
                   type="xsd:boolean"
                   rax:id="">
  
</param>
                
            <param required="true"
                   name="mtu"
                   style="plain"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
        
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteNetwork">
        
        <response status="204"/>
        
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
        
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
