samples/compute-api/60994-qos-specs-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/volume-api/src/v2/wadl/qos-specs-v2.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="202"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status=""
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="computeFault">
         <para/>
      </rax:response>
      <rax:response status="503"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="serviceUnavailable">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="405"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="badMethod">
         <para/>
      </rax:response>
      <rax:response status="413"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="overLimit">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                    name="itemNotFound">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="qos-specs">
         <rax:resource rax:id="qos_id">
            <rax:resource rax:id="delete_keys"/>
            <rax:resource rax:id="associate"/>
            <rax:resource rax:id="disassociate"/>
            <rax:resource rax:id="disassociate_all"/>
            <rax:resource rax:id="associations"/>
         </rax:resource>
      </rax:resource>
            
        </rax:resources>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:json="http://json-schema.org/schema#"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://volume.example.com/"
              xml:id="qos-specs-v2">
        <resource id="qos-specs" path="/v2/{tenant_id}/qos-specs">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="createQoSSpec">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create QoS specification">
               <para role="shortdesc">
                Creates a QoS specification.
            </para>
               <para>
                Specify one or more key and value pairs in the request body.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": {
        "availability": "100",
        "name": "reliability-spec",
        "numberOfFailures": "0"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;qos_specs name="performance-spec" delay="0" throughput="100" /&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="qos_specs"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>qos_specs</code> object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="consumer"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The consumer type.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": {
        "specs": {
            "numberOfFailures": "0",
            "availability": "100"
        },
        "consumer": "back-end",
        "name": "reliability-spec",
        "id": "599ef437-1c99-42ec-9fc6-239d0519fef1"
    },
    "links": [
        {
            "href": "http://23.253.248.171:8776/v2/bab7d5c60cd041a0a36f7c4b6e1dd978/qos_specs/599ef437-1c99-42ec-9fc6-239d0519fef1",
            "rel": "self"
        },
        {
            "href": "http://23.253.248.171:8776/bab7d5c60cd041a0a36f7c4b6e1dd978/qos_specs/599ef437-1c99-42ec-9fc6-239d0519fef1",
            "rel": "bookmark"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;qos_specs&gt;
    &lt;qos_spec consumer="back-end" id="e1f84cf3-6b1e-4f25-8130-3244f69ec7c1" name="performance-spec"&gt;
        &lt;specs&gt;
            &lt;delay&gt;0&lt;/delay&gt;
            &lt;throughput&gt;100&lt;/throughput&gt;
        &lt;/specs&gt;
    &lt;/qos_spec&gt;
&lt;/qos_specs&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="qos_specs"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>qos_specs</code> object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="specs"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A <code>specs</code> object.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="consumer"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The consumer type.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The generated ID for the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="links"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The QoS specification links.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="GET" rax:id="listQoSSpecs">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List QoS specs">
               <para role="shortdesc">
                Lists quality of service (QoS) specifications.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                
                  <param name="sort_key"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Sorts by an image attribute. A valid value is <code>name</code>,
      <code>status</code>, <code>container_format</code>,
      <code>disk_format</code>, <code>size</code>, <code>id</code>,
      <code>created_at</code>, or <code>updated_at</code>. Default is
      <code>created_at</code>. The API uses the natural sorting direction of
      the <code>sort_key</code> attribute value.
   </para>
                     </wadl:doc>
                  </param>
                  <param name="sort_dir"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Sorts by one or more sets of attribute and sort direction combinations.
      If you omit the sort direction in a set, default is <code>desc</code>.
   </para>
                     </wadl:doc>
                  </param>
                

                  <param name="limit"
                         style="query"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                     </wadl:doc>
                  </param>

                  <param name="marker"
                         style="query"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200 300">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": [
        {
            "specs": {
                "availability": "100",
                "numberOfFailures": "0"
            },
            "consumer": "back-end",
            "name": "reliability-spec",
            "id": "0388d6c6-d5d4-42a3-b289-95205c50dd15"
        },
        {
            "specs": {
                "delay": "0",
                "throughput": "100"
            },
            "consumer": "back-end",
            "name": "performance-spec",
            "id": "ecfc6e2e-7117-44a4-8eec-f84d04f531a8"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;qos_specs&gt;
    &lt;qos_spec consumer="back-end"
        id="0388d6c6-d5d4-42a3-b289-95205c50dd15"
        name="reliability-spec"&gt;
        &lt;specs&gt;
            &lt;availability&gt;100&lt;/availability&gt;
            &lt;numberOfFailures&gt;0&lt;/numberOfFailures&gt;
        &lt;/specs&gt;
    &lt;/qos_spec&gt;
    &lt;qos_spec consumer="back-end"
        id="ecfc6e2e-7117-44a4-8eec-f84d04f531a8"
        name="performance-spec"&gt;
        &lt;specs&gt;
            &lt;delay&gt;0&lt;/delay&gt;
            &lt;throughput&gt;100&lt;/throughput&gt;
        &lt;/specs&gt;
    &lt;/qos_spec&gt;
&lt;/qos_specs&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="qos_specs"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>qos_specs</code> object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="specs"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="specs">
                        <para>
                            Specification key and value pairs.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="consumer"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The consumer type.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The generated ID for the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="qos_id" path="/v2/{tenant_id}/qos-specs/{qos_id}">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="qos_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the QoS specification.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showQoSDetails">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show QoS specification details">
               <para role="shortdesc">
                Shows details for a QoS specification.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": {
        "specs": {
            "availability": "100",
            "numberOfFailures": "0"
        },
        "consumer": "back-end",
        "name": "reliability-spec",
        "id": "0388d6c6-d5d4-42a3-b289-95205c50dd15"
    },
    "links": [
        {
            "href": "http://23.253.228.211:8776/v2/e1cf63117ae74309a5bcc2002a23be8b/qos_specs/0388d6c6-d5d4-42a3-b289-95205c50dd15",
            "rel": "self"
        },
        {
            "href": "http://23.253.228.211:8776/e1cf63117ae74309a5bcc2002a23be8b/qos_specs/0388d6c6-d5d4-42a3-b289-95205c50dd15",
            "rel": "bookmark"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;qos_specs&gt;
    &lt;qos_spec consumer="back-end"
        id="0388d6c6-d5d4-42a3-b289-95205c50dd15"
        name="reliability-spec"&gt;
        &lt;specs&gt;
            &lt;availability&gt;100&lt;/availability&gt;
            &lt;numberOfFailures&gt;0&lt;/numberOfFailures&gt;
        &lt;/specs&gt;
    &lt;/qos_spec&gt;
&lt;/qos_specs&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="qos_specs"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>qos_specs</code> object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="specs"
                         style="plain"
                         required="true"
                         type="xsd:dict"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="specs">
                        <para>
                            Specification key and value pairs.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="consumer"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The consumer type.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The generated ID for the QoS specification.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="links"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The QoS specification links.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
            <!-- Common and GET Faults-->
        
            <response>
               <representation mediaType="application/xml" element="csapi:computeFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" rax:id="setQoSKey">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Set keys in QoS specification">
               <para role="shortdesc">
                Sets keys in a QoS specification.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;qos_specs delay="2" throughput="100"/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": {
        "delay": "1"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="qos_specs"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A <code>qos_specs</code> object.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="specs"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="specs">
                        <para>
                            Specification key and value pairs.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;qos_specs&gt;
    &lt;qos_spec/&gt;
&lt;/qos_specs&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": {
        "delay": "1"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteQoSSpec">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete QoS specification">
               <para role="shortdesc">
                Deletes a QoS specification.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <param style="template"
                         required="false"
                         name="force"
                         type="xsd:boolean"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            To delete a QoS specification even if it is in-use,
                            set to <code>true</code>. Default is
                            <code>false</code>.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202"/>
         </method>
      </resource>
                        

                        
                        
                        <resource id="delete_keys" path="/v2/{tenant_id}/qos-specs/{qos_id}/delete_keys">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="qos_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the QoS specification.
    </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="unsetQoSKey">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Unset keys in QoS specification">
               <para role="shortdesc">
                Unsets keys in a QoS specification.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;keys&gt;
    &lt;key/&gt;
&lt;/keys&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "keys": [
        "key1"
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="keys"
                         style="plain"
                         required="true"
                         type="xsd:list"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="keys">
                        <para>
                            List of Keys.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200"/>
         </method>
      </resource>
                            
                        
                        
                        <resource id="associate" path="/v2/{tenant_id}/qos-specs/{qos_id}/associate">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="qos_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the QoS specification.
    </para>
            </wadl:doc>
         </param>
         <param name="volume_type_id"
                style="template"
                required="true"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID for an existing volume type.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="associateQoSSpec">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Associate QoS specification with volume type">
               <para role="shortdesc">
                Associates a QoS specification with a volume type.
            </para>
            </wadl:doc>
            <response status="202"/>
         </method>
      </resource>
                            

                            
                        
                        <resource id="disassociate"
                path="/v2/{tenant_id}/qos-specs/{qos_id}/disassociate">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="qos_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the QoS specification.
    </para>
            </wadl:doc>
         </param>
         <param name="volume_type_id"
                style="template"
                required="true"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID for an existing volume type.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="disassociateQoSSpec">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Disassociate QoS specification from volume type">
               <para role="shortdesc">
                Disassociates a QoS specification from a volume type.
            </para>
            </wadl:doc>
            <response status="202"/>
         </method>
      </resource>
                            

                            
                        
                        <resource id="disassociate_all"
                path="/v2/{tenant_id}/qos-specs/{qos_id}/disassociate_all">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="qos_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the QoS specification.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="disassociateQoSSpecAll">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Disassociate QoS specification from all associations">
               <para role="shortdesc">
                Disassociates a QoS specification from all associations.
            </para>
            </wadl:doc>
            <response status="202"/>
         </method>
      </resource>
                            
                        
                        <resource id="associations"
                path="/v2/{tenant_id}/qos-specs/{qos_id}/associations">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="qos_id" style="template" type="xsd:string" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The ID of the QoS specification.
    </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listQoSAssociations">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get all associations for QoS specification">
               <para role="shortdesc">
                Lists all associations for a QoS specification.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;qos_specs&gt;
    &lt;qos_spec consumer="back-end"
        id="0388d6c6-d5d4-42a3-b289-95205c50dd15"
        name="reliability-spec"&gt;
        &lt;specs&gt;
            &lt;availability&gt;100&lt;/availability&gt;
            &lt;numberOfFailures&gt;0&lt;/numberOfFailures&gt;
        &lt;/specs&gt;
    &lt;/qos_spec&gt;
&lt;/qos_specs&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "qos_specs": {
        "specs": {
            "availability": "100",
            "numberOfFailures": "0"
        },
        "consumer": "back-end",
        "name": "reliability-spec",
        "id": "0388d6c6-d5d4-42a3-b289-95205c50dd15"
    },
    "links": [
        {
            "href": "http://23.253.228.211:8776/v2/e1cf63117ae74309a5bcc2002a23be8b/qos_specs/0388d6c6-d5d4-42a3-b289-95205c50dd15",
            "rel": "self"
        },
        {
            "href": "http://23.253.228.211:8776/e1cf63117ae74309a5bcc2002a23be8b/qos_specs/0388d6c6-d5d4-42a3-b289-95205c50dd15",
            "rel": "bookmark"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                            
                        
                    
                
    </resources>
    <!-- QoS Specs -->
    <!-- create QoS spec -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createQoSSpec">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                
            <param name="qos_specs"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
  
</param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="consumer"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                
            <param name="qos_specs"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
  
</param>
                <param name="specs"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="consumer"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="id"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="links"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </response>
    </method>
    <!-- list QoS specs -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listQoSSpecs">
        
        <request>
            <representation mediaType="application/xml">
                
            <param name="sort_key"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">

</param>
            <param name="sort_dir"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL"
                   rax:id="">

</param>
                

            <param name="limit"
                   style="query"
                   required="false"
                   type="xsd:int"
                   rax:id="">
    
</param>

            <param name="marker"
                   style="query"
                   required="false"
                   type="xsd:string"
                   rax:id="">
    
</param>
            </representation>
        </request>
        <response status="200 300">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                
            <param name="qos_specs"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
  
</param>
                <param name="specs"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
                <param name="consumer"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="id"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </response>
    </method>
    <!-- show QoS spec details -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showQoSDetails">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                
            <param name="qos_specs"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
  
</param>
                <param name="specs"
                   style="plain"
                   required="true"
                   type="xsd:dict"
                   rax:id="">
                    
                </param>
                <param name="consumer"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="id"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="links"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </response>
        <!-- Common and GET Faults-->
        
      <response>
         <representation mediaType="application/xml" element="csapi:computeFault"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="503">
         <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="405">
         <representation mediaType="application/xml" element="csapi:badMethod"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="413">
         <representation mediaType="application/xml" element="csapi:overLimit"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <!-- associate QoS spec -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="associateQoSSpec">
        
        <response status="202"/>
    </method>
    <!-- disassociate QoS spec -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="disassociateQoSSpec">
        
        <response status="202"/>
    </method>
    <!-- disassociate all QoS spec associations -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="disassociateQoSSpecAll">
        
        <response status="202"/>
    </method>
    <!-- show all QoS spec associations -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listQoSAssociations">
        
        <response status="200">
            <representation mediaType="application/xml">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <!-- update QoS spec key/s -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="setQoSKey">
        
        <request>
            <representation mediaType="application/xml">
                
            </representation>
            <representation mediaType="application/json">
                
                
            <param name="qos_specs"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
  
</param>
                <param name="specs"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <!--unset QoS Key/s -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="unsetQoSKey">
        
        <request>
            <representation mediaType="application/xml">
                
            </representation>
            <representation mediaType="application/json">
                
                <param name="keys"
                   style="plain"
                   required="true"
                   type="xsd:list"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <!-- delete QoS spec -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:json="http://json-schema.org/schema#"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteQoSSpec">
        
        <request>
            <representation mediaType="application/json">
                <param style="template"
                   required="false"
                   name="force"
                   type="xsd:boolean"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
</wadl:application>
