samples/compute-api/65035-os-vol-image-meta-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/volume-api/src/v2/wadl/os-vol-image-meta-v2.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/api/openstack-block-storage/v2"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="202"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                <rax:resource rax:id="os-vol-image-meta"/>
            
        </rax:resources>
    <resources xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://manage.example.com/"
              xml:id="os-vol-image-meta-v2">
        <resource id="os-vol-image-meta" path="/v2/{tenant_id}/os-vol-image-meta">
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="showImageMetadataForVolume">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show image metadata for volume">
               <para role="shortdesc">
                Shows image metadata for a volume.
            </para>
               <para>
                When the request is made, the caller must specify a reference to an existing storage
                volume in the <code>ref</code> element. Each storage driver may interpret the
                existing storage volume reference differently but should accept a reference
                structure containing either a <code>source-volume-id</code> or
                <code>source-volume-name</code> element, if possible.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Show manage existing request: JSON">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "volume": {
        "host": "geraint-VirtualBox",
        "ref": {
            "source-volume-name": "existingLV",
            "source-volume-id": "1234"
        },
        "name": "New Volume",
        "availability_zone": "az2",
        "description": "Volume imported from existingLV",
        "volume_type": null,
        "bootable": "True",
        "metadata": {
            "key1": "value1",
            "key2": "value2"
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="volume"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A <code>volume</code>
                        object.</para>
                     </wadl:doc>
                  </param>
                  <param name="host"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The OpenStack Block Storage host where the
                            existing volume resides.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="ref"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A reference to the existing volume.
                            The internal structure of this reference
                            is dependent on the implementation of the
                            volume driver, see the specific driver's
                            documentation for details of the required
                            elements in the structure.</para>
                     </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume name.</para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The availability zone.</para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume
                            description.</para>
                     </wadl:doc>
                  </param>
                  <param name="volume_type"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated volume
                            type.</para>
                     </wadl:doc>
                  </param>
                  <param name="bootable"
                         style="plain"
                         type="xsd:boolean"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Enables or disables the bootable
                            attribute. You can boot an instance from a
                            bootable volume.</para>
                     </wadl:doc>
                  </param>
                  <param name="metadata"
                         style="plain"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>One or more metadata key and value pairs
                            to associate with the
                            volume.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>The response is the same as for a volume
                    create API call. The size of the volume is chosen
                    by inspecting the size of the existing storage
                    volume and rounding up to the next
                    gibibyte (GiB).</para>
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "volume": {
        "status": "creating",
        "user_id": "eae1472b5fc5496998a3d06550929e7e",
        "attachments": [],
        "links": [
            {
                "href": "http://10.0.2.15:8776/v2/87c8522052ca4eed98bc672b4c1a3ddb/volumes/23cf872b-c781-4cd4-847d-5f2ec8cbd91c",
                "rel": "self"
            },
            {
                "href": "http://10.0.2.15:8776/87c8522052ca4eed98bc672b4c1a3ddb/volumes/23cf872b-c781-4cd4-847d-5f2ec8cbd91c",
                "rel": "bookmark"
            }
        ],
        "availability_zone": "az2",
        "bootable": "false",
        "encrypted": "false",
        "created_at": "2014-07-18T00:12:54.000000",
        "description": "Volume imported from existingLV",
        "os-vol-tenant-attr:tenant_id": "87c8522052ca4eed98bc672b4c1a3ddb",
        "volume_type": null,
        "name": "New Volume",
        "source_volid": null,
        "snapshot_id": null,
        "metadata": {
            "key2": "value2",
            "key1": "value1"
        },
        "id": "23cf872b-c781-4cd4-847d-5f2ec8cbd91c",
        "size": 0
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    
                
    </resources>
    <method xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showImageMetadataForVolume">
        
        <request>
            <representation mediaType="application/json">
                
                <param name="volume"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="host"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="ref"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="availability_zone"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="description"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="volume_type"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="bootable"
                   style="plain"
                   type="xsd:boolean"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="metadata"
                   style="plain"
                   type="xsd:string"
                   required="false"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
</wadl:application>
