samples/compute-api/7591-service-providers.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent service-providers.wadl          -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/networking-api/src/wadl/service-providers.wadl">
   <rax:types/>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="itemNotFound">
         <para/>
      </rax:response>
      <rax:response status="409"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/compute/api/v1.1"
                    name="conflict">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
         <rax:resource rax:id="service-providers"/>
      </rax:resources>
   <!--*******************************************************-->
   <!--             All Resources                             -->
   <!--*******************************************************-->
   <resources xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-service-type-v2">
      <resource id="service-providers" path="/v2.0/service-providers">
         <method name="GET" rax:id="listServiceProviders">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List service providers">
               <para role="shortdesc">
          Lists service providers and their associated service types.
         </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "service_providers": [
        {
            "service_type": "LOADBALANCER",
            "default": true,
            "name": "haproxy"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
            
                  <param name="service_providers"
                         style="plain"
                         type="xsd:list"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      A list of <code>service_provider</code> objects.
    </para>
                     </wadl:doc>
                  </param>
            
                  <param name="service_type"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The service type, which is <code>CORE</code>, <code>DUMMY</code>,
      <code>FIREWALL</code>, <code>FLAVORS</code>, <code>L3_ROUTER_NAT</code>,
      <code>LOADBALANCER</code>, <code>LOADBALANCERV2</code>,
      <code>METERING</code>, <code>QOS</code>, or <code>VPN</code>.
    </para>
                     </wadl:doc>
                  </param>
            
                  <param name="default"
                         style="plain"
                         type="xsd:boolean"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Defines whether the provider is the default for the service type. If
      this value is <code>true</code>, the provider is the default. If this
      value is <code>false</code>, the provider is not the default.
    </para>
                     </wadl:doc>
                  </param>
            
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      User-facing provider name.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
            
         
   </resources>
   <!--*******************************************************-->
   <!--               All Methods                             -->
   <!--*******************************************************-->
   <method xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listServiceProviders">
      
      <response status="200">
         <representation mediaType="application/json">
            
            
            <param name="service_providers"
                   style="plain"
                   type="xsd:list"
                   required="true"
                   rax:id="">
  
</param>
            
            <param name="service_type"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
  
</param>
            
            <param name="default"
                   style="plain"
                   type="xsd:boolean"
                   required="true"
                   rax:id="">
  
</param>
            
            <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
  
</param>
         </representation>
      </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
         <representation mediaType="application/xml" element="csapi:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response>
   </method>
</wadl:application>
