samples/compute-api/927-OS-KSCATALOG-admin.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2011-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSCATALOG-admin.wadl         -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSCATALOG-admin.wadl">
   <rax:types>
      <rax:type prefix="capi"
                namespace="http://docs.openstack.org/common/api/v1.0"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="itemNotFound">
         <para/>
      </rax:response>
      <rax:response status="405"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="badMethod">
         <para/>
      </rax:response>
      <rax:response status="413"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="overLimit">
         <para/>
      </rax:response>
      <rax:response status="503"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="serviceUnavailable">
         <para/>
      </rax:response>
      <rax:response status="409"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="TenantConflictFault">
         <para/>
      </rax:response>
      <rax:response status="415"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v2.0"
                    name="badMediaType">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

    
        
            A valid authentication token for an administrative user.
        
    

                
                    

  
    
      The UUID of the tenant in a multi-tenancy cloud.
   
  

                    
                        <rax:resource rax:id="endpoints">
         <rax:resource rax:id="endpoint"/>
      </rax:resource>
                    
                
            
            
                <rax:resource rax:id="endpointTemplates">
         <rax:resource rax:id="endpointTemplateId"/>
      </rax:resource>
            
        </rax:resources>
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02"><!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/xsd/api.xsd-->
      <wadl:include href="927-OS-KSCATALOG-admin-xsd-1.xsd"/>
      <!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/xsd/api-common.xsd-->
      <wadl:include href="927-OS-KSCATALOG-admin-xsd-2.xsd"/>
      <!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v2.0/xsd/OS-KSCATALOG.xsd-->
      <wadl:include href="927-OS-KSCATALOG-admin-xsd-3.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
              xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="http://localhost:35357"
              xml:id="OS-KSCATALOG-admin-v2.0">
        <resource id="endpoints" path="/v2.0/tenants/{tenantId}/OS-KSCATALOG/endpoints">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
            A valid authentication token for an administrative user.
        </para>
            </wadl:doc>
         </param>
         <param name="tenant_id" style="template" type="capi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listEndpoints">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List endpoints">
               <para role="shortdesc">Lists endpoints for a
                tenant.</para>
            </wadl:doc>
            <request>
            

               <param name="limit"
                      style="query"
                      required="false"
                      type="xsd:int"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                  </wadl:doc>
               </param>

               <param name="marker"
                      style="query"
                      required="false"
                      type="xsd:string"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                  </wadl:doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="identity:endpoints">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "endpoints": [
        {
            "id": 1,
            "tenantId": "1",
            "region": "North",
            "type": "compute",
            "publicURL": "https://compute.north.public.com/v1",
            "internalURL": "https://compute.north.internal.com/v1",
            "adminURL": "https://compute.north.internal.com/v1"
        },
        {
            "id": 2,
            "tenantId": "1",
            "region": "South",
            "type": "compute",
            "publicURL": "https://compute.north.public.com/v1",
            "internalURL": "https://compute.north.internal.com/v1",
            "adminURL": "https://compute.north.internal.com/v1"
        },
        {
            "id": 3,
            "tenantId": "1",
            "region": "East",
            "type": "compute",
            "publicURL": "https://compute.north.public.com/v1",
            "internalURL": "https://compute.north.internal.com/v1",
            "adminURL": "https://compute.north.internal.com/v1"
        },
        {
            "id": 4,
            "tenantId": "1",
            "region": "West",
            "type": "compute",
            "publicURL": "https://compute.north.public.com/v1",
            "internalURL": "https://compute.north.internal.com/v1",
            "adminURL": "https://compute.north.internal.com/v1"
        },
        {
            "id": 5,
            "tenantId": "1",
            "region": "Global",
            "type": "compute",
            "publicURL": "https://compute.north.public.com/v1",
            "internalURL": "https://compute.north.internal.com/v1",
            "adminURL": "https://compute.north.internal.com/v1"
        }
    ],
    "endpoints_links": []
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createEndpoint">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create endpoint">
               <para role="shortdesc">Creates endpoint to a tenant.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="endpointTemplate">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSCATALOG:endpointTemplate": {
        "id": 1
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="identity:endpoint">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "endpoint": {
        "id": 1,
        "tenantId": 1,
        "region": "North",
        "type": "compute",
        "publicURL": "https://compute.north.public.com/v1",
        "internalURL": "https://compute.north.internal.com/v1",
        "adminURL": "https://compute.north.internal.com/v1"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="Location" type="xsd:anyURI" style="header" rax:id=""/>
               </representation>
            </response>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                            
                            
                            <resource id="endpoint"
                path="/v2.0/tenants/{tenantId}/OS-KSCATALOG/endpoints/{endpointId}">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
            A valid authentication token for an administrative user.
        </para>
            </wadl:doc>
         </param>
         <param name="tenant_id" style="template" type="capi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <param name="endpoint_id" style="template" type="capi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the endpoint.
   </para>
            </wadl:doc>
         </param>
         <method name="DELETE" rax:id="deleteEndpoint">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete endpoint">
               <para role="shortdesc">Deletes an endpoint from a
                tenant.</para>
            </wadl:doc>
            <response status="204"/>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                                

                                
                                
                            
                        <resource id="endpointTemplates" path="/v2.0/OS-KSCATALOG/endpointTemplates">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid authentication
                                token for an administrative
                                user.</para>
            </wadl:doc>
                    </param>
         <param name="serviceId"
                style="query"
                required="false"
                type="xsd:string"
                rax:id="">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The service
                            ID.</para>
            </wadl:doc>
                    </param>
         <method name="GET" rax:id="listEndpointTemplates">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List endpoint templates">
               <para role="shortdesc">Lists endpoint templates.</para>
            </wadl:doc>
            <request>
            

               <param name="limit"
                      style="query"
                      required="false"
                      type="xsd:int"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            Requests a page size of items. Returns a number of items up to a
            limit value. Use the <code>limit</code> parameter to make an
            initial limited request and use the ID of the last-seen item from
            the response as the <code>marker</code> parameter value in a
            subsequent limited request.
        </para>
                  </wadl:doc>
               </param>

               <param name="marker"
                      style="query"
                      required="false"
                      type="xsd:string"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The ID of the last-seen item. Use the <code>limit</code> parameter
            to make an initial limited request and use the ID of the last-seen
            item from the response as the <code>marker</code> parameter value
            in a subsequent limited request.
        </para>
                  </wadl:doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="endpointTemplates">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSCATALOG:endpointsTemplates": [
        {
            "id": 1,
            "region": "North",
            "global": true,
            "type": "compute",
            "publicURL": "https://compute.north.public.com/v1",
            "internalURL": "https://compute.north.internal.com/v1",
            "enabled": true
        },
        {
            "id": 2,
            "region": "South",
            "type": "compute",
            "publicURL": "https://compute.south.public.com/v1",
            "internalURL": "https://compute.south.internal.com/v1",
            "enabled": false
        },
        {
            "id": 3,
            "region": "North",
            "global": true,
            "type": "object-store",
            "publicURL": "https://object-store.north.public.com/v1.0",
            "enabled": true
        },
        {
            "id": 4,
            "region": "South",
            "type": "object-store",
            "publicURL": "https://object-store.south.public.com/v2",
            "enabled": true
        },
        {
            "id": 5,
            "global": true,
            "type": "OS-DNS:DNS",
            "publicURL": "https://dns.public.com/v3.2",
            "enabled": true
        }
    ],
    "OS-KSCATALOG:endpointsTemplates_links": []
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="203"/>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createEndpointTemplate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create endpoint template">
               <para role="shortdesc">Creates endpoint template.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="endpointTemplate">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSCATALOG:endpointTemplate": {
        "id": 1,
        "region": "North",
        "global": true,
        "type": "compute",
        "publicURL": "https://compute.north.public.com/v1",
        "internalURL": "https://compute.north.internal.com/v1",
        "versionId": "1",
        "versionInfo": "https://compute.north.public.com/v1/",
        "versionList": "https://compute.north.public.com/",
        "enabled": true
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="endpointTemplate">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSCATALOG:endpointTemplate": {
        "id": 1,
        "region": "North",
        "global": true,
        "type": "compute",
        "publicURL": "https://compute.north.public.com/v1",
        "internalURL": "https://compute.north.internal.com/v1",
        "enabled": true
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="Location" type="xsd:anyURI" style="header" rax:id=""/>
               </representation>
            </response>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    
                    
                    <resource id="endpointTemplateId"
                path="/v2.0/OS-KSCATALOG/endpointTemplates/{endpointTemplateId}">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true"
                rax:id="">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid authentication
                                token for an administrative
                                user.</para>
            </wadl:doc>
                    </param>
         <param name="endpointTemplateId"
                style="template"
                type="xsd:string"
                rax:id="">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The endpoint
                                   template ID.</para>
            </wadl:doc>
                        </param>
         <method name="PUT" rax:id="updateEndpointTemplate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update endpoint template">
               <para role="shortdesc">Updates endpoint template.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="endpointTemplate">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSCATALOG:endpointTemplate": {
        "id": 1,
        "region": "North",
        "global": true,
        "type": "compute",
        "publicURL": "https://compute.north.public.com/v1",
        "internalURL": "https://compute.north.internal.com/v1",
        "versionId": "1",
        "versionInfo": "https://compute.north.public.com/v1/",
        "versionList": "https://compute.north.public.com/",
        "enabled": true
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="endpointTemplate">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "OS-KSCATALOG:endpointTemplate": {
        "id": 1,
        "region": "North",
        "global": true,
        "type": "compute",
        "publicURL": "https://compute.north.public.com/v1",
        "internalURL": "https://compute.north.internal.com/v1",
        "enabled": true
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteEndpointTemplate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete endpoint template.">
               <para role="shortdesc">Deletes an endpoint
                template.</para>
            </wadl:doc>
            <response status="204"/>
        

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                        
                        
                        
                        
                    
                
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- EndPoint Templates -->

    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listEndpointTemplates">
        
        <request>
            

         <param name="limit"
                style="query"
                required="false"
                type="xsd:int"
                rax:id="">
    
</param>

         <param name="marker"
                style="query"
                required="false"
                type="xsd:string"
                rax:id="">
    
</param>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="endpointTemplates">
                
            </representation>
        </response>
        <response status="203"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getEndpointTemplate">
        
        <response status="200">
            <representation mediaType="application/json" element="endpointTemplate">
                
            </representation>
        </response>
        <response status="203"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createEndpointTemplate">
        
        <request>
            <representation mediaType="application/json" element="endpointTemplate">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json" element="endpointTemplate">
                
                <param name="Location" type="xsd:anyURI" style="header" rax:id=""/>
            </representation>
        </response>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateEndpointTemplate">
        
        <request>
            <representation mediaType="application/json" element="endpointTemplate">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="endpointTemplate">
                
            </representation>
        </response>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteEndpointTemplate">
        
        <response status="204"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createEndpoint">
        
        <request>
            <representation mediaType="application/json" element="endpointTemplate">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json" element="identity:endpoint">
                
                <param name="Location" type="xsd:anyURI" style="header" rax:id=""/>
            </representation>
        </response>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listEndpoints">
        
        <request>
            

         <param name="limit"
                style="query"
                required="false"
                type="xsd:int"
                rax:id="">
    
</param>

         <param name="marker"
                style="query"
                required="false"
                type="xsd:string"
                rax:id="">
    
</param>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:endpoints">
                
            </representation>
        </response>
        <response status="203"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getEndpoint">
        
        <response status="200">
            <representation mediaType="application/json" element="identity:endpoint">
                
            </representation>
        </response>
        <response status="203"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteEndpoint">
        
        <response status="204"/>
        

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="identity:TenantConflictFault"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
