samples/compute-api/9448-OS-TRUST-v3.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2011-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities                            -->
<!--                                                       -->
<!-- You can resolve the entities with xmllint             -->
<!--                                                       -->
<!-- xmllint -noent OS-TRUST-v3.wadl                       -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xsi:schemaLocation="http://docs.openstack.org/identity/api/v3 ../xsd/api.xsd     http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd     http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd     "
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v3/wadl/OS-TRUST-v3.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/identity/api/v3"
                name="UUID">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="201"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
      <rax:response status="400"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="badRequest">
         <para/>
      </rax:response>
      <rax:response status="401"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="unauthorized">
         <para/>
      </rax:response>
      <rax:response status="403"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="forbidden">
         <para/>
      </rax:response>
      <rax:response status="404"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="itemNotFound">
         <para/>
      </rax:response>
      <rax:response status="405"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="badMethod">
         <para/>
      </rax:response>
      <rax:response status="409"
                    prefix="csapi"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="conflict">
         <para/>
      </rax:response>
      <rax:response status="413"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="overLimit">
         <para/>
      </rax:response>
      <rax:response status="415"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="badMediaType">
         <para/>
      </rax:response>
      <rax:response status="503"
                    prefix="identity"
                    namespace="http://docs.openstack.org/identity/api/v3"
                    name="serviceUnavailable">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                <rax:resource rax:id="trusts"/>
            
        </rax:resources>
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02"><!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v3/xsd/api.xsd-->
      <wadl:include href="9448-OS-TRUST-v3-xsd-1.xsd"/>
      <!--Original xsd: file:/Users/annegentle/src/api-site/api-ref/src/wadls/identity-api/src/v3/xsd/api-common.xsd-->
      <wadl:include href="9448-OS-TRUST-v3-xsd-2.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:identity="http://docs.openstack.org/identity/api/v3"
              xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="http://localhost:5000"
              xml:id="OS-TRUST-v3">
        <!-- FYI: double slash needed in path to get a single slash to display -->
        <resource id="trusts" path="/v3/OS-TRUST/trusts">
         <method name="POST" rax:id="createTrust">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create trust">
               <para role="shortdesc">Creates a
                trust.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code>
                           <programlisting language="javascript">{
    "trust": {
        "expires_at": "2014-12-30T23:59:59.999999Z",
        "impersonation": false,
        "project_id": "'$PROJECT_ID'",
        "roles": [
            {
                "name": "admin"
            }
        ],
        "trustee_user_id": "'$DEMO_USER_ID'",
        "trustor_user_id": "'$ADMIN_USER_ID'"
    }
}
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
                  <param name="trust"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A trust object.</para>
                    </wadl:doc>
                  </param>
                
                  <param name="oauth_expires_at"
                         style="plain"
                         type="xsd:dateTime"
                         required="false"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when a request token expires.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            If the Identity API does not include this attribute or its value is
            <code>null</code>, the token never expires.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="impersonation"
                         style="plain"
                         type="xsd:boolean"
                         required="false"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The impersonation flag. Default is false.</para>
                    </wadl:doc>
                  </param>
                  <param name="project_id"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the project.</para>
                    </wadl:doc>
                  </param>
                  <param name="remaining_uses"
                         style="plain"
                         type="xsd:boolean"
                         required="false"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Remaining uses flag. Default is null.</para>
                    </wadl:doc>
                  </param>
                        <param name="roles"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A roles object.</para>
                    </wadl:doc>
                  </param>
                  <param name="name"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The role name.</para>
                    </wadl:doc>
                  </param>
                  <param name="trustee_user_id"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The trustee user ID.</para>
                    </wadl:doc>
                  </param>
                  <param name="trustor_user_id"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The trustor user ID.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code>
                           <programlisting language="javascript">{
    "trust": {
        "expires_at": "2014-12-30T23:59:59.999999Z",
        "id": "394998fa61f14736b1f0c1f322882949",
        "impersonation": false,
        "links": {
            "self": "http://localhost:5000/v3/OS-TRUST/trusts/394998fa61f14736b1f0c1f322882949"
        },
        "project_id": "3d4c2c82bd5948f0bcab0cf3a7c9b48c",
        "remaining_uses": null,
        "roles": [
            {
                "id": "c703057be878458588961ce9a0ce686b",
                "links": {
                    "self": "http://localhost:5000/v3/roles/c703057be878458588961ce9a0ce686b"
                },
                "name": "admin"
            }
        ],
        "roles_links": {
            "next": null,
            "previous": null,
            "self": "http: //localhost:5000/v3/OS-TRUST/trusts/394998fa61f14736b1f0c1f322882949/roles"
        },
        "trustee_user_id": "269348fdd9374b8885da1418e0730af1",
        "trustor_user_id": "3ec3164f750146be97f21559ee4d9c51"
    }
}
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
                  <param name="trust"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A trust object.</para>
                    </wadl:doc>
                  </param>
                
                  <param name="oauth_expires_at"
                         style="plain"
                         type="xsd:dateTime"
                         required="false"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            The date and time when a request token expires.
        </para>
                        <para>
            The date and time stamp format is <link xlink:href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</link>:
        </para>
                        <programlisting>CCYY-MM-DDThh:mm:ss±hh:mm</programlisting>
                        <para>
            The <code>±hh:mm</code> value, if included, is the time zone as an
            offset from UTC.
        </para>
                        <para>
            For example, <code>2015-08-27T09:49:58-05:00</code>.
        </para>
                        <para>
            If the Identity API does not include this attribute or its value is
            <code>null</code>, the token never expires.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the trust.</para>
                    </wadl:doc>
                  </param>
                  <param name="impersonation"
                         style="plain"
                         type="xsd:boolean"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The impersonation flag.</para>
                    </wadl:doc>
                  </param>
                  <param name="links"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Trust links.</para>
                    </wadl:doc>
                  </param>
                  <param name="project_id"
                         style="plain"
                         type="csapi:UUID"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the project.</para>
                    </wadl:doc>
                  </param>
                  <param name="remaining_uses"
                         style="plain"
                         type="xsd:boolean"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Remaining uses flag.</para>
                    </wadl:doc>
                  </param>
                  <param name="roles"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A <code>roles</code> object. Includes
                            <code>id</code>, <code>name</code>, and
                            <code>links</code> for any roles.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="roles_links"
                         style="plain"
                         type="xsd:dict"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A roles links object. Includes <code>next</code>,
                            <code>previous</code>, and <code>self</code> links
                            for roles.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="trustee_user_id"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The trustee user ID.</para>
                    </wadl:doc>
                  </param>
                  <param name="trustor_user_id"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The trustor user ID.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </response> 

            <response status="400" rax:phrase="Bad Request">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="401" rax:phrase="Unauthorized">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="403" rax:phrase="Forbidden">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="404" rax:phrase="Not Found">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="405" rax:phrase="Method Not Allowed">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="413" rax:phrase="Request Entity Too Large">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="415" rax:phrase="Unsupported Media Type">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>

            <response status="503" rax:phrase="Service Unavailable">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!--Consumers Operations-->
    <method xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:identity="http://docs.openstack.org/identity/api/v3"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createTrust">
        
        <request>
            <representation mediaType="application/json">
                
                <param name="trust"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                
            <param name="oauth_expires_at"
                   style="plain"
                   type="xsd:dateTime"
                   required="false"
                   rax:id="">
    
</param>
                <param name="impersonation"
                   style="plain"
                   type="xsd:boolean"
                   required="false"
                   rax:id="">
                    
                </param>
                <param name="project_id"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="remaining_uses"
                   style="plain"
                   type="xsd:boolean"
                   required="false"
                   rax:id="">
                     
                </param>
                        <param name="roles"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="name"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="trustee_user_id"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="trustor_user_id"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
                <param name="trust"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                
            <param name="oauth_expires_at"
                   style="plain"
                   type="xsd:dateTime"
                   required="false"
                   rax:id="">
    
</param>
                <param name="id"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="impersonation"
                   style="plain"
                   type="xsd:boolean"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="links"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="project_id"
                   style="plain"
                   type="csapi:UUID"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="remaining_uses"
                   style="plain"
                   type="xsd:boolean"
                   required="true"
                   rax:id="">
                     
                </param>
                <param name="roles"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="roles_links"
                   style="plain"
                   type="xsd:dict"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="trustee_user_id"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
                <param name="trustor_user_id"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="">
                    
                </param>
            </representation>
        </response> 

      <response status="400" rax:phrase="Bad Request">
         <representation mediaType="application/xml" element="identity:badRequest"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="401" rax:phrase="Unauthorized">
         <representation mediaType="application/xml" element="identity:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="403" rax:phrase="Forbidden">
         <representation mediaType="application/xml" element="identity:forbidden"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="404" rax:phrase="Not Found">
         <representation mediaType="application/xml" element="identity:itemNotFound"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="405" rax:phrase="Method Not Allowed">
         <representation mediaType="application/xml" element="identity:badMethod"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="413" rax:phrase="Request Entity Too Large">
         <representation mediaType="application/xml" element="identity:overLimit"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="415" rax:phrase="Unsupported Media Type">
         <representation mediaType="application/xml" element="identity:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>

      <response status="503" rax:phrase="Service Unavailable">
         <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
