samples/compute-api/9454-os-quota-sets-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  rax:original-wadl="file:/Users/annegentle/src/api-site/api-ref/src/wadls/compute-api/src/v2.1/wadl/os-quota-sets-v2.1.wadl">
   <rax:types>
      <rax:type prefix="csapi"
                namespace="http://docs.openstack.org/identity/api/v3"
                name="UUID">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="string">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="boolean">
         <para/>
      </rax:type>
      <rax:type prefix="xsd"
                namespace="http://docs.rackspacecloud.com/xsd/v1.0"
                name="int">
         <para/>
      </rax:type>
   </rax:types>
   <rax:responses><!--A list of unique responses in the wadl -->
      <rax:response status="200"
                    prefix=""
                    namespace="http://wadl.dev.java.net/2009/02"
                    name="">
         <para/>
      </rax:response>
   </rax:responses>
   <!--
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    ! This is a representation of the resources tree           !
	    ! for use in generating a reference directly from the wadl.!
	    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	  -->
   <rax:resources xmlns="http://wadl.dev.java.net/2009/02">
            
                

   
      
         The UUID of the administrative tenant.
      
   

                
                    <rax:resource rax:id="tenant_id">
         <rax:resource rax:id="defaults"/>
      </rax:resource>
                
            
        </rax:resources>
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-quota-sets-v2.1">
        <resource id="tenant_id" path="/v2.1/{admin_tenant_id}/os-quota-sets/{tenant_id}">
         <param name="admin_tenant_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
         The UUID of the administrative tenant.
      </para>
            </wadl:doc>
         </param>
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="updateQuota">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update quotas">
               <para role="shortdesc">
                Update the quotas for a project or a project and a user.
            </para>
               <para>
                You can force the update even if the quota has already been
                used and the reserved quota exceeds the new quota.
            </para>
               <para>
                To force the update, specify the <code>"force": "True"</code>
                attribute in the request body. Default is <code>False</code>.
                The following example request shows the optional
                <code>force</code> attribute.
            </para>
               <para>
                To update a quota for a project and a user, specify the <code>user_id</code>
                query parameter.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota_set": {
        "force": true,
        "key_pairs": 120
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="user_id"
                         style="query"
                         type="xsd:string"
                         required="false"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      Filters the response by a user, by ID.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="quota_set"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    A <code>quota_set</code> object.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="force"
                         style="plain"
                         type="xsd:boolean"
                         required="true"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      You can force the update even if the quota has already been used and the
      reserved quota exceeds the new quota. To force the update, specify the
      <code>"force": "True"</code>. Default is <code>False</code>.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="cores"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed instance cores for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ips"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed fixed IP addresses for each tenant. Must be equal to
    or greater than the number of allowed instances.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="floating_ips"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed floating IP addresses for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="false"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
   The ID of the quota set.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_content_bytes"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed bytes of content for each injected file.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_path_bytes"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed bytes for each injected file path.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_files"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed injected files for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="instances"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed instances for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="key_pairs"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed key pairs for each user.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="metadata_items"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed metadata items for each instance.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="ram"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The amount of allowed instance RAM, in MB, for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="security_group_rules"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed rules for each security group.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="security_groups"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed security groups for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="server_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed server groups for each tenant.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="server_group_members"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    The number of allowed members for each server group.
  </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota_set": {
        "injected_file_content_bytes": 10240,
        "metadata_items": 128,
        "server_group_members": 10,
        "server_groups": 10,
        "ram": 51200,
        "floating_ips": 10,
        "key_pairs": 120,
        "instances": 10,
        "security_group_rules": 20,
        "injected_files": 5,
        "cores": 20,
        "fixed_ips": -1,
        "injected_file_path_bytes": 255,
        "security_groups": 10
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="quota_set"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    A <code>quota_set</code> object.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="cores"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instance cores for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed fixed IP addresses for each tenant. Must be equal to
      or greater than the number of allowed instances.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="floating_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed floating IP addresses for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
     The ID of the quota set.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_content_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes of content for each injected file.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_path_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes for each injected file path.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_files"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed injected files for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="instances"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instances for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="key_pairs"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed key pairs for each user.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="metadata_items"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed metadata items for each instance.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="ram"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The amount of allowed instance RAM, in MB, for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_group_rules"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed rules for each security group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed security groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed server groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_group_members"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed members for each server group.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="revertQuotas">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Revert quotas to defaults">
               <para role="shortdesc">
                Reverts the quotas to default values for a project or a project and a user.
            </para>
               <para>
                To revert quotas for a project and a user, specify the <code>user_id</code>
                query parameter.
            </para>
            </wadl:doc>
            <request>
            
               <param name="user_id"
                      style="query"
                      type="xsd:string"
                      required="false"
                      rax:id="">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      Filters the response by a user, by ID.
    </para>
                  </wadl:doc>
               </param>
            </request>
            <response status="202"/>
         </method>
         <method name="GET" rax:id="showQuota">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show a quota">
               <para role="shortdesc">
                Show the quota for a project or a project and a user.
            </para>
               <para>
                In the request URI, you specify both the ID of the
                administrative project and the ID of the project for
                which you want to show quota.
            </para>
               <para>
                To show a quota for a project and a user, specify the <code>user_id</code>
                query parameter.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota_set": {
        "cores": 20,
        "fixed_ips": -1,
        "floating_ips": 10,
        "id": "fake_tenant",
        "injected_file_content_bytes": 10240,
        "injected_file_path_bytes": 255,
        "injected_files": 5,
        "instances": 10,
        "key_pairs": 100,
        "metadata_items": 128,
        "ram": 51200,
        "security_group_rules": 20,
        "security_groups": 10,
        "server_groups": 10,
        "server_group_members": 10
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="quota_set"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    A <code>quota_set</code> object.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="cores"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instance cores for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed fixed IP addresses for each tenant. Must be equal to
      or greater than the number of allowed instances.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="floating_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed floating IP addresses for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
     The ID of the quota set.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_content_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes of content for each injected file.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_path_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes for each injected file path.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_files"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed injected files for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="instances"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instances for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="key_pairs"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed key pairs for each user.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="metadata_items"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed metadata items for each instance.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="ram"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The amount of allowed instance RAM, in MB, for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_group_rules"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed rules for each security group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed security groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed server groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_group_members"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed members for each server group.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                        

                        
                        
                        
                        <resource id="defaults"
                path="/v2.1/{admin_tenant_id}/os-quota-sets/{tenant_id}/defaults">
         <param name="admin_tenant_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
         The UUID of the administrative tenant.
      </para>
            </wadl:doc>
         </param>
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listDefaultQuotas">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List default quotas for tenant">
               <para role="shortdesc">
                Lists the default quotas for a project or a project and a user.
            </para>
               <para>
                In the request URI, you specify both the ID of the
                administrative project and the ID of the project for
                which you want to show default quotas. These project IDs can
                match.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota_set": {
        "injected_file_content_bytes": 10240,
        "metadata_items": 128,
        "server_group_members": 10,
        "server_groups": 10,
        "ram": 51200,
        "floating_ips": 10,
        "key_pairs": 100,
        "id": "91a3c6da787643c78f2a7c7428fa54f2",
        "instances": 10,
        "security_group_rules": 20,
        "injected_files": 5,
        "cores": 20,
        "fixed_ips": -1,
        "injected_file_path_bytes": 255,
        "security_groups": 10
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="quota_set"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    A <code>quota_set</code> object.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="cores"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instance cores for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed fixed IP addresses for each tenant. Must be equal to
      or greater than the number of allowed instances.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="floating_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed floating IP addresses for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
     The ID of the quota set.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_content_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes of content for each injected file.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_path_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes for each injected file path.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_files"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed injected files for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="instances"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instances for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="key_pairs"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed key pairs for each user.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="metadata_items"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed metadata items for each instance.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="ram"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The amount of allowed instance RAM, in MB, for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_group_rules"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed rules for each security group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed security groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed server groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_group_members"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed members for each server group.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                            
                        
                        <resource id="quotas_detail"
                path="/v2.1/{admin_tenant_id}/os-quota-sets/{tenant_id}/detail">
         <wadl:doc xmlns="http://docbook.org/ns/docbook"
                   xml:lang="EN"
                   title="Detail quotas list">
            <para>
                Lists quotas with reserved, limit, and in-use value details.
            </para>
            <para>
                To list detail of a quota for a project and a user,
                specify the <code>user_id</code> query parameter.
            </para>
        </wadl:doc>
         <param name="admin_tenant_id"
                style="template"
                type="csapi:UUID"
                rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
         The UUID of the administrative tenant.
      </para>
            </wadl:doc>
         </param>
         <param name="tenant_id" style="template" type="csapi:UUID" rax:id="">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
      The UUID of the tenant in a multi-tenancy cloud.
   </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="listDetailQuotas">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List quotas with details">
               <para role="shortdesc">
                Lists quotas with details for a project or a project and a user.
            </para>
               <para>
                To list a quota for a project and a user,
                specify the <code>user_id</code> query parameter.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "quota_set": {
        "injected_file_content_bytes": {
            "reserved": 0,
            "limit": 10240,
            "in_use": 0
        },
        "metadata_items": {
            "reserved": 0,
            "limit": 128,
            "in_use": 0
        },
        "server_group_members": {
            "reserved": 0,
            "limit": 10,
            "in_use": 0
        },
        "server_groups": {
            "reserved": 0,
            "limit": 10,
            "in_use": 0
        },
        "ram": {
            "reserved": 0,
            "limit": 51200,
            "in_use": 0
        },
        "floating_ips": {
            "reserved": 0,
            "limit": 10,
            "in_use": 0
        },
        "key_pairs": {
            "reserved": 0,
            "limit": 120,
            "in_use": 0
        },
        "id": "91a3c6da787643c78f2a7c7428fa54f2",
        "instances": {
            "reserved": 0,
            "limit": 10,
            "in_use": 0
        },
        "security_group_rules": {
            "reserved": 0,
            "limit": 20,
            "in_use": 0
        },
        "injected_files": {
            "reserved": 0,
            "limit": 5,
            "in_use": 0
        },
        "cores": {
            "reserved": 0,
            "limit": 20,
            "in_use": 0
        },
        "fixed_ips": {
            "reserved": 0,
            "limit": -1,
            "in_use": 0
        },
        "injected_file_path_bytes": {
            "reserved": 0,
            "limit": 255,
            "in_use": 0
        },
        "security_groups": {
            "reserved": 0,
            "limit": 10,
            "in_use": 0
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="x-openstack-request-id"
                         style="header"
                         required="false"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    A unique ID for tracking the request. The request ID associated with the
    request appears in the log lines for that request. By default, the
    middleware configuration ensures that the request ID appears in the log
    files.
  </para>
                     </wadl:doc>
                  </param>
                
                  <param name="quota_set"
                         style="plain"
                         required="true"
                         type="xsd:string"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
    A <code>quota_set</code> object.
  </para>
                     </wadl:doc>
                  </param>
                  <param name="cores"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instance cores for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed fixed IP addresses for each tenant. Must be equal to
      or greater than the number of allowed instances.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="floating_ips"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed floating IP addresses for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id"
                         style="plain"
                         required="true"
                         type="csapi:UUID"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
     The ID of the quota set.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_content_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes of content for each injected file.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_file_path_bytes"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed bytes for each injected file path.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="injected_files"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed injected files for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="instances"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed instances for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="key_pairs"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed key pairs for each user.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="metadata_items"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed metadata items for each instance.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="ram"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The amount of allowed instance RAM, in MB, for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_group_rules"
                         style="plain"
                         required="false"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed rules for each security group.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="security_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed security groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_groups"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed server groups for each tenant.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="server_group_members"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The number of allowed members for each server group.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="reserved"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The reserved quota value.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="limit"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The maximum limit for the quota.
    </para>
                     </wadl:doc>
                  </param>
                
                  <param name="in_use"
                         style="plain"
                         required="true"
                         type="xsd:int"
                         rax:id="">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
      The in-use quota value.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
    </resources>
    
    <!-- *******************************************************-->
    <!--      OS Quota sets            -->
    <!--*******************************************************-->
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listDefaultQuotas">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="quota_set"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            <param name="cores"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="fixed_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="floating_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="injected_file_content_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_file_path_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_files"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="instances"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="key_pairs"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="metadata_items"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="ram"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_group_rules"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_group_members"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listDetailQuotas">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="x-openstack-request-id"
                   style="header"
                   required="false"
                   type="xsd:string"
                   rax:id="">

</param>
                
            <param name="quota_set"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            <param name="cores"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="fixed_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="floating_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="injected_file_content_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_file_path_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_files"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="instances"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="key_pairs"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="metadata_items"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="ram"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_group_rules"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_group_members"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param name="reserved"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param name="limit"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
                
            <param name="in_use"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showQuota">
        
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="quota_set"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            <param name="cores"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="fixed_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="floating_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="injected_file_content_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_file_path_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_files"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="instances"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="key_pairs"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="metadata_items"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="ram"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_group_rules"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_group_members"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateQuota">
        
        <request>
            <representation mediaType="application/json">
                
                
            <param name="user_id"
                   style="query"
                   type="xsd:string"
                   required="false"
                   rax:id="">
  
</param>
                
            <param name="quota_set"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            <param name="force"
                   style="plain"
                   type="xsd:boolean"
                   required="true"
                   rax:id="">
  
</param>
            <param name="cores"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="fixed_ips"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="floating_ips"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="id"
                   style="plain"
                   required="false"
                   type="csapi:UUID"
                   rax:id="">

</param>
            <param name="injected_file_content_bytes"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="injected_file_path_bytes"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="injected_files"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="instances"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="key_pairs"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="metadata_items"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="ram"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="security_group_rules"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="security_groups"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="server_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">

</param>
            <param name="server_group_members"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">

</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
                
            <param name="quota_set"
                   style="plain"
                   required="true"
                   type="xsd:string"
                   rax:id="">

</param>
            <param name="cores"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="fixed_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="floating_ips"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="id"
                   style="plain"
                   required="true"
                   type="csapi:UUID"
                   rax:id="">
  
</param>
            <param name="injected_file_content_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_file_path_bytes"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="injected_files"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="instances"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="key_pairs"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="metadata_items"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="ram"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_group_rules"
                   style="plain"
                   required="false"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="security_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_groups"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            <param name="server_group_members"
                   style="plain"
                   required="true"
                   type="xsd:int"
                   rax:id="">
  
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="revertQuotas">
        
        <request>
            
         <param name="user_id"
                style="query"
                type="xsd:string"
                required="false"
                rax:id="">
  
</param>
        </request>
        <response status="202"/>
    </method>
</wadl:application>
